<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
	Copyright (c) 2011-2013 Eike Stepper (Berlin, Germany) and others.
	All rights reserved. This program and the accompanying materials
	are made available under the terms of the Eclipse Public License v1.0
	which accompanies this distribution, and is available at
	http://www.eclipse.org/legal/epl-v10.html

	Contributors:
	  Eike Stepper - initial API and implementation
-->

<plugin>

  <extension id="app" point="org.eclipse.core.runtime.applications" name="%app.name">
      <application>
         <run class="org.eclipse.emf.cdo.explorer.ui.application.CDOExplorerApplication"/>
      </application>
  </extension>
   
 	<extension id="product" point="org.eclipse.core.runtime.products">
    	<product
      	name="CDO Explorer"
        description="%product.description"
        application="org.eclipse.emf.cdo.explorer.app">
      		<property name="appName" value="CDO Explorer"/>
    	</product>
 	</extension>

  <extension
        point="org.eclipse.core.runtime.adapters">
     <factory
           adaptableType="org.eclipse.emf.cdo.explorer.CDORepository"
           class="org.eclipse.emf.cdo.explorer.ui.properties.ExplorerPropertiesAdapterFactory">
        <adapter type="org.eclipse.ui.views.properties.IPropertySourceProvider"/>
        <adapter type="org.eclipse.ui.IActionFilter"/>
     </factory>
  </extension>

  <extension
        point="org.eclipse.ui.perspectives">
     <perspective
           class="org.eclipse.emf.cdo.explorer.ui.application.CDOExplorerPerspective"
           icon="platform:/plugin/org.eclipse.emf.cdo.ui.shared/icons/full/view16/cdo_sessions.gif"
           id="org.eclipse.emf.cdo.explorer.ui.CDOExplorerPerspective"
           name="%perspective.name">
     </perspective>
  </extension>

   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.emf.cdo.explorer.ui.CDORepositoriesView"
            id="org.eclipse.emf.cdo.explorer.ui.CDORepositoriesView"
            name="CDO Repositories"
            icon="platform:/plugin/org.eclipse.emf.cdo.ui.shared/icons/full/view16/locations.gif"
            category="org.eclipse.emf.cdo"
            allowMultiple="false">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.emf.cdo.explorer.ui.RepositoryConnect"
            name="Connect Repository"
            defaultHandler="org.eclipse.emf.cdo.explorer.ui.handlers.RepositoryConnectHandler"/>
      <command
            id="org.eclipse.emf.cdo.explorer.ui.RepositoryDisconnect"
            name="Connect Repository"
            defaultHandler="org.eclipse.emf.cdo.explorer.ui.handlers.RepositoryDisconnectHandler"/>
      <command
            id="org.eclipse.emf.cdo.explorer.ui.RepositoryCheckout"
            name="Checkout Repository"
            defaultHandler="org.eclipse.emf.cdo.explorer.ui.handlers.RepositoryCheckoutHandler"/>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?group=group.open">
         <command
               commandId="org.eclipse.emf.cdo.explorer.ui.RepositoryConnect"
               icon="icons/connect.gif"
               label="Connect"
               style="push"
               tooltip="Open a connection to the repository">
            <visibleWhen checkEnabled="false">
               <with variable="activeMenuSelection">
                  <iterate>
                    <and>
                      <adapt type="org.eclipse.emf.cdo.explorer.CDORepository"/>
                      <test property="org.eclipse.emf.cdo.explorer.repository.connected" value="false"/>
                    </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?group=group.edit">
         <command
               commandId="org.eclipse.emf.cdo.explorer.ui.RepositoryDisconnect"
               icon="icons/disconnect.gif"
               label="Disconnect"
               style="push"
               tooltip="Close the connection to the repository">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate>
                    <and>
                      <adapt type="org.eclipse.emf.cdo.explorer.CDORepository"/>
                      <test property="org.eclipse.emf.cdo.explorer.repository.connected" value="true"/>
                    </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?group=group.checkout">
         <command
               commandId="org.eclipse.emf.cdo.explorer.ui.RepositoryCheckout"
               icon="icons/checkout.gif"
               label="Checkout"
               style="push"
               tooltip="Check the repository out">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate>
                    <adapt type="org.eclipse.emf.cdo.explorer.CDOCheckoutSource"/>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            id="org.eclipse.emf.cdo.explorer.ui.CDOCheckouts"
            icon="icons/checkout.gif"
            name="CDO Checkouts"
            contentProvider="org.eclipse.emf.cdo.explorer.ui.CDOCheckoutContentProvider"
            labelProvider="org.eclipse.emf.cdo.explorer.ui.CDOCheckoutLabelProvider"
            priority="normal"
            activeByDefault="true"
            providesSaveables="false">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IWorkspaceRoot">
               </instanceof>
               <instanceof
                     value="org.eclipse.emf.cdo.explorer.CDOCheckout">
               </instanceof>
               <instanceof
                     value="org.eclipse.emf.ecore.EObject">
               </instanceof>
            </or>
         </triggerPoints>
      </navigatorContent>
   </extension>

   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="org.eclipse.emf.cdo.explorer.ui.CDOCheckouts">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>

</plugin>
