<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.pde.ui.RuntimeWorkbench">
<stringAttribute key="product" value="org.eclipse.platform.ide"/>
<booleanAttribute key="usefeatures" value="false"/>
<stringAttribute key="bootstrap" value=""/>
<booleanAttribute key="useProduct" value="false"/>
<booleanAttribute key="tracing" value="false"/>
<stringAttribute key="org.eclipse.hyades.trace.ui.ATTR_PROFILING_SET" value="tptp-dummy-profiling-set-CDO Server"/>
<stringAttribute key="location2" value="_embedded"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
<listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
</listAttribute>
<stringAttribute key="selected_target_plugins" value="com.ibm.icu,org.apache.ant,org.eclipse.ant.core,org.eclipse.core.contenttype,org.eclipse.core.expressions,org.eclipse.core.filesystem,org.eclipse.core.filesystem.win32.x86,org.eclipse.core.jobs,org.eclipse.core.resources,org.eclipse.core.resources.compatibility,org.eclipse.core.resources.win32,org.eclipse.core.runtime,org.eclipse.core.runtime.compatibility,org.eclipse.core.runtime.compatibility.auth,org.eclipse.core.runtime.compatibility.registry,org.eclipse.core.variables,org.eclipse.emf.common,org.eclipse.emf.ecore,org.eclipse.emf.ecore.change,org.eclipse.emf.edit,org.eclipse.equinox.common,org.eclipse.equinox.preferences,org.eclipse.equinox.registry,org.eclipse.osgi,org.eclipse.update.configurator"/>
<booleanAttribute key="automaticValidate" value="true"/>
<mapAttribute key="tracingOptions">
<mapEntry key="org.eclipse.team.cvs.core/syncchangeevents" value="false"/>
<mapEntry key="org.eclipse.jst.jsp.core/debug/tldcmdocument/manager" value="false"/>
<mapEntry key="org.eclipse.jst.jsp.core/debug/jspindexmanager" value="false"/>
<mapEntry key="org.eclipse.core.resources/perf/listeners" value="500"/>
<mapEntry key="org.eclipse.wst.server.core/resources" value="false"/>
<mapEntry key="org.eclipse.wst.css.core/debug/tracefilter" value=""/>
<mapEntry key="org.eclipse.core.resources/build/needbuild" value="false"/>
<mapEntry key="org.eclipse.update.configurator/debug" value="false"/>
<mapEntry key="org.eclipse.osgi/monitor/activation" value="false"/>
<mapEntry key="org.eclipse.core.runtime/loader/debug" value="true"/>
<mapEntry key="org.eclipse.jst.jsp.core/debug/jspsearch" value="false"/>
<mapEntry key="org.eclipse.ui/debug/showSystemJobs" value="false"/>
<mapEntry key="org.eclipse.wst.sse.core/structuredmodel/state" value="false"/>
<mapEntry key="org.eclipse.jem.proxy/remote/debug/vmtraceout" value="false"/>
<mapEntry key="org.eclipse.core.runtime/url/debug" value="false"/>
<mapEntry key="org.eclipse.osgi/monitor/classes" value="false"/>
<mapEntry key="org.eclipse.wst.xml.core/debug/tracefilter" value=""/>
<mapEntry key="org.eclipse.update.core/debug" value="true"/>
<mapEntry key="org.eclipse.core.runtime/debug/context" value="true"/>
<mapEntry key="org.eclipse.ui/debug/swtdebug" value="false"/>
<mapEntry key="org.eclipse.jdt.core/debug/javamodel" value="false"/>
<mapEntry key="org.eclipse.wst.sse.core/builder/detection" value="false"/>
<mapEntry key="com.ibm.wtp.common.util/debug/logtrace" value="false"/>
<mapEntry key="org.eclipse.wst.sse.ui/debug/reconcilerjob" value="false"/>
<mapEntry key="org.eclipse.ui.intro/trace/printHTML" value="false"/>
<mapEntry key="org.eclipse.jdt.core/debug/javadelta/verbose" value="false"/>
<mapEntry key="org.eclipse.jdt.core/debug" value="true"/>
<mapEntry key="org.eclipse.core.expressions/tracePropertyResolving" value="false"/>
<mapEntry key="org.eclipse.core.resources/restore" value="false"/>
<mapEntry key="org.eclipse.wst.sse.ui/debug/outline" value="false"/>
<mapEntry key="org.eclipse.osgi/trace/filename" value="runtime.traces"/>
<mapEntry key="org.eclipse.wst.sse.ui/propertyChangeUpdateActionContributionItem" value="false"/>
<mapEntry key="org.eclipse.wst.sse.ui/transferbuilder/time" value="false"/>
<mapEntry key="org.eclipse.update.core/debug/web" value="false"/>
<mapEntry key="com.ibm.wtp.common.util/debug/loglevel" value="WARNING"/>
<mapEntry key="org.eclipse.core.runtime/registry/debug/resolve" value="true"/>
<mapEntry key="org.eclipse.osgi/debug" value="false"/>
<mapEntry key="com.omondo.uml.core/trace/level" value="error"/>
<mapEntry key="org.eclipse.osgi/trace/activation" value="false"/>
<mapEntry key="com.omondo.database/debug/debug" value="true"/>
<mapEntry key="org.eclipse.jface.text/debug/AnnotationPainter" value="false"/>
<mapEntry key="org.eclipse.wst.sse.ui/extendededitoractionbuilder/debugmenu" value="false"/>
<mapEntry key="org.eclipse.ui/trace/part.activate" value="false"/>
<mapEntry key="org.eclipse.osgi/resolver/imports" value="false"/>
<mapEntry key="org.eclipse.osgi/eclipseadaptor/debug/platformadmin/resolver" value="false"/>
<mapEntry key="org.eclipse.help.ui/debug/infopop" value="false"/>
<mapEntry key="org.eclipse.osgi/trace/filters" value="trace.properties"/>
<mapEntry key="org.eclipse.wst.sse.ui/debug" value="true"/>
<mapEntry key="org.eclipse.wst.html.core/debug" value="true"/>
<mapEntry key="org.eclipse.core.runtime/registry/debug/events/extension" value="true"/>
<mapEntry key="org.eclipse.jem.ui/debug/logtracefile" value="default"/>
<mapEntry key="org.eclipse.wst.javascript.core/debug" value="true"/>
<mapEntry key="org.eclipse.team.cvs.core/debug" value="false"/>
<mapEntry key="org.eclipse.team.cvs.core/threading" value="false"/>
<mapEntry key="org.eclipse.osgi/resolver/debug" value="false"/>
<mapEntry key="org.eclipse.update.core/debug/install" value="false"/>
<mapEntry key="org.eclipse.ui/debug/internalerror/openDialog" value="false"/>
<mapEntry key="org.eclipse.core.runtime/jobs/errorondeadlock" value="false"/>
<mapEntry key="org.eclipse.help.ui/debug/embeddedBrowser/inprocess" value="false"/>
<mapEntry key="org.eclipse.core.resources/debug" value="false"/>
<mapEntry key="org.eclipse.osgi/profile/impl" value="org.eclipse.osgi.profile.DefaultProfileLogger"/>
<mapEntry key="org.eclipse.osgi/profile/benchmark" value="false"/>
<mapEntry key="org.eclipse.wst.internet.webbrowser/url" value="false"/>
<mapEntry key="org.eclipse.team.cvs.core/cvsprotocol" value="true"/>
<mapEntry key="org.eclipse.jdt.core/debug/postaction" value="false"/>
<mapEntry key="org.eclipse.ui/trace/perspective.listeners" value="false"/>
<mapEntry key="org.eclipse.osgi/debug/manifest" value="false"/>
<mapEntry key="org.eclipse.help/debug/context" value="false"/>
<mapEntry key="org.eclipse.jdt.core/debug/builder" value="false"/>
<mapEntry key="org.eclipse.wst.sse.ui/actioncontributor/debugstatusfields" value="false"/>
<mapEntry key="org.eclipse.osgi/resolver/requires" value="false"/>
<mapEntry key="org.eclipse.wst.sse.ui/extendedconfigurationbuilder" value="true"/>
<mapEntry key="org.eclipse.core.runtime/loader/debug/activateplugin" value="true"/>
<mapEntry key="org.eclipse.team.cvs.ssh/debug" value="false"/>
<mapEntry key="org.eclipse.wst.javascript.core/debug/tracefilter" value=""/>
<mapEntry key="org.eclipse.ui/trace/handlers.verbose" value="false"/>
<mapEntry key="org.eclipse.osgi/debug/startlevel" value="false"/>
<mapEntry key="org.eclipse.update.core/debug/installhandler" value="false"/>
<mapEntry key="com.omondo.database/debug/explorer" value="true"/>
<mapEntry key="org.eclipse.jdt.core/debug/javadelta" value="false"/>
<mapEntry key="org.eclipse.core.resources/restore/tree" value="false"/>
<mapEntry key="org.eclipse.core.resources/preferences" value="false"/>
<mapEntry key="org.eclipse.ui/trace/part.create" value="false"/>
<mapEntry key="org.eclipse.help/debug/protocols" value="false"/>
<mapEntry key="org.eclipse.help.base/debug/search" value="false"/>
<mapEntry key="org.eclipse.wst.sse.ui/filemodelprovider/modelstatelistener" value="false"/>
<mapEntry key="org.eclipse.core.resources/natures" value="false"/>
<mapEntry key="org.eclipse.jem/debug/loglevel" value="default"/>
<mapEntry key="org.eclipse.core.runtime/loader/debug/filter/native" value="*"/>
<mapEntry key="org.eclipse.osgi/defaultprofile/buffersize" value="256"/>
<mapEntry key="org.eclipse.osgi/resolver/cycles" value="false"/>
<mapEntry key="org.eclipse.core.runtime/loader/debug/create" value="true"/>
<mapEntry key="org.eclipse.ui/trace/keyBindings.verbose" value="false"/>
<mapEntry key="org.eclipse.core.runtime/preferences/get" value="false"/>
<mapEntry key="org.eclipse.wst.sse.core/filebuffers/modelmanagement" value="false"/>
<mapEntry key="org.eclipse.core.runtime/perf/success" value="false"/>
<mapEntry key="org.eclipse.core.runtime/compatibility/debug" value="true"/>
<mapEntry key="org.eclipse.ui/debug/declaredImages" value="false"/>
<mapEntry key="org.eclipse.pde.build/debug" value="false"/>
<mapEntry key="org.eclipse.osgi/eclipseadaptor/debug/location" value="false"/>
<mapEntry key="org.eclipse.ui/trace/contexts.verbose" value="false"/>
<mapEntry key="org.eclipse.help.base/debug" value="true"/>
<mapEntry key="org.eclipse.core.runtime/jobs" value="false"/>
<mapEntry key="org.eclipse.jem.proxy/debug/logtrace" value="default"/>
<mapEntry key="org.eclipse.core.runtime/contenttypes/debug" value="true"/>
<mapEntry key="com.omondo.database/debug" value="true"/>
<mapEntry key="org.eclipse.core.resources/strings" value="false"/>
<mapEntry key="org.eclipse.jdt.ui/debug/checkCoreBindingGetJavaElement" value="false"/>
<mapEntry key="org.eclipse.core.resources/save/metainfo" value="false"/>
<mapEntry key="org.eclipse.wst.server.ui/debug" value="true"/>
<mapEntry key="org.eclipse.core.runtime/timing/startup" value="true"/>
<mapEntry key="org.eclipse.wst.sse.core/builder" value="false"/>
<mapEntry key="org.eclipse.core.runtime/perf" value="false"/>
<mapEntry key="org.eclipse.jst.jsp.core/debug/tldcmdocument/factory" value="false"/>
<mapEntry key="org.eclipse.ui/trace/page.listeners" value="false"/>
<mapEntry key="org.eclipse.ui/debug/job.stale" value="false"/>
<mapEntry key="org.eclipse.jdt.ui/debug/allTypesCache" value="false"/>
<mapEntry key="org.eclipse.jem.proxy/debug/logtracefile" value="default"/>
<mapEntry key="org.eclipse.jst.jsp.core/debug/jsptranslation" value="false"/>
<mapEntry key="org.eclipse.wst.sse.core/builder/modelprovider" value="false"/>
<mapEntry key="org.eclipse.jdt.core/debug/completion" value="false"/>
<mapEntry key="org.eclipse.osgi/eclipseadaptor/debug" value="false"/>
<mapEntry key="org.eclipse.wst.sse.core/debug" value="true"/>
<mapEntry key="org.eclipse.jdt.core/debug/indexmanager" value="false"/>
<mapEntry key="org.eclipse.wst.internet.monitor.core/debug" value="true"/>
<mapEntry key="org.eclipse.wst.sse.ui/storagemodelprovider/operations" value="false"/>
<mapEntry key="org.eclipse.osgi/debug/loader" value="false"/>
<mapEntry key="org.eclipse.wtp.common/debug/logtrace" value="false"/>
<mapEntry key="org.eclipse.wst.html.core/debug/tracefilter" value=""/>
<mapEntry key="org.eclipse.jst.jsp.core/debug" value="true"/>
<mapEntry key="org.eclipse.osgi/defaultprofile/logsynchronously" value="false"/>
<mapEntry key="org.eclipse.osgi/trace/classLoading" value="false"/>
<mapEntry key="org.eclipse.wst.sse.ui/extendededitoractionbuilder/readtime" value="false"/>
<mapEntry key="com.omondo.database/debug/error" value="true"/>
<mapEntry key="org.eclipse.core.runtime/debug" value="true"/>
<mapEntry key="org.eclipse.ui/trace/handlers.verbose.commandId" value=""/>
<mapEntry key="org.eclipse.osgi/debug/filter" value="false"/>
<mapEntry key="com.omondo.database/debug/warning" value="true"/>
<mapEntry key="org.eclipse.wst.sse.core/structuredmodel/lifecycle" value="false"/>
<mapEntry key="org.eclipse.ui/trace/part.listeners" value="false"/>
<mapEntry key="org.eclipse.jdt.ui/debug/ASTProvider" value="false"/>
<mapEntry key="org.eclipse.jst.jsp.core/taglib/resolve" value="false"/>
<mapEntry key="com.omondo.uml.core/trace/module/viewEvent" value="false"/>
<mapEntry key="org.eclipse.core.runtime/loader/debug/filter/class" value="*"/>
<mapEntry key="org.eclipse.core.runtime/jobs/timing" value="false"/>
<mapEntry key="org.eclipse.wst.sse.ui/filemodelprovider/operations" value="false"/>
<mapEntry key="org.eclipse.core.runtime/loader/debug/prefixes/failure" value="true"/>
<mapEntry key="org.eclipse.wtp.common/debug/loglevel" value="WARNING"/>
<mapEntry key="org.eclipse.help.webapp/debug/workingsets" value="false"/>
<mapEntry key="org.eclipse.osgi/defaultprofile/logfilename" value=""/>
<mapEntry key="org.eclipse.core.runtime/loader/debug/filter/loader" value="*"/>
<mapEntry key="org.eclipse.jem/debug/logtrace" value="default"/>
<mapEntry key="org.eclipse.core.runtime/loader/debug/actions" value="true"/>
<mapEntry key="org.eclipse.wst.sse.core/debug/tracefilter" value=""/>
<mapEntry key="org.eclipse.core.runtime/url/debug/connect" value="false"/>
<mapEntry key="org.eclipse.jface.text/debug/ContentAssistSubjectAdapters" value="false"/>
<mapEntry key="org.eclipse.wst.sse.core/builder/participant/tasktag" value="false"/>
<mapEntry key="org.eclipse.core.resources/restore/markers" value="false"/>
<mapEntry key="com.omondo.uml.std/trace/module/modelMapper" value="false"/>
<mapEntry key="org.eclipse.ui/trace/graphics" value="false"/>
<mapEntry key="org.eclipse.jdt.core/debug/resolution" value="false"/>
<mapEntry key="com.omondo.database/debug/trace" value="true"/>
<mapEntry key="org.eclipse.jst.jsp.core/taglib/indexcreation" value="false"/>
<mapEntry key="org.eclipse.team.cvs.ssh/ssh_protocol" value="false"/>
<mapEntry key="org.eclipse.core.resources/perf/snapshot" value="500"/>
<mapEntry key="org.eclipse.core.runtime/registry/debug" value="true"/>
<mapEntry key="com.omondo.uml.core/trace/module/UMLPlugin" value="false"/>
<mapEntry key="org.eclipse.osgi/debug/packages" value="false"/>
<mapEntry key="org.eclipse.core.runtime/loader/debug/prefixes" value="true"/>
<mapEntry key="org.eclipse.wst.sse.core/participantregistry" value="false"/>
<mapEntry key="org.eclipse.wst.sse.core/dom/adapter/notification/time" value="false"/>
<mapEntry key="org.eclipse.osgi/eclipseadaptor/converter/debug" value="false"/>
<mapEntry key="org.eclipse.wst.internet.webbrowser/debug" value="true"/>
<mapEntry key="org.eclipse.wtp.common/debug/logtracefile" value="false"/>
<mapEntry key="org.eclipse.osgi/eclipseadaptor/debug/platformadmin" value="false"/>
<mapEntry key="org.eclipse.help.ui/debug/embeddedBrowser" value="false"/>
<mapEntry key="org.eclipse.core.runtime/preferences/set" value="false"/>
<mapEntry key="org.eclipse.team.core/streams" value="false"/>
<mapEntry key="org.eclipse.core.runtime/jobs/locks" value="false"/>
<mapEntry key="org.eclipse.ui/trace/keyBindings" value="false"/>
<mapEntry key="org.eclipse.jdt.ui/debug/TypeConstraints" value="false"/>
<mapEntry key="org.eclipse.core.runtime/registry/debug/dump" value=""/>
<mapEntry key="org.eclipse.jst.jsp.core/taglib/indextime" value="false"/>
<mapEntry key="org.eclipse.core.resources/build/delta" value="false"/>
<mapEntry key="org.eclipse.jdt.core/debug/search" value="false"/>
<mapEntry key="org.eclipse.jdt.ui/debug/checkCoreBindingIsEqualTo" value="false"/>
<mapEntry key="org.eclipse.jdt.core/debug/compiler" value="false"/>
<mapEntry key="org.eclipse.jst.server.tomcat.core/debug" value="true"/>
<mapEntry key="org.eclipse.jdt.ui/debug" value="true"/>
<mapEntry key="org.eclipse.core.runtime/registry/debug/events/plugin" value="true"/>
<mapEntry key="org.eclipse.wst.sse.core/dom/adapter/notification/time/criteria" value="10"/>
<mapEntry key="org.eclipse.update.core/debug/configuration" value="false"/>
<mapEntry key="org.eclipse.jem.beaninfo/debug/logtrace" value="default"/>
<mapEntry key="org.eclipse.jem.beaninfo/debug/logtracefile" value="default"/>
<mapEntry key="org.eclipse.jem.ui/debug/logtrace" value="default"/>
<mapEntry key="org.eclipse.help.webapp/debug" value="true"/>
<mapEntry key="org.eclipse.jdt.core/debug/hierarchy" value="false"/>
<mapEntry key="org.eclipse.wst.sse.core/filebuffers/lifecycle" value="false"/>
<mapEntry key="org.eclipse.core.resources/refresh" value="false"/>
<mapEntry key="org.eclipse.team.core/backgroundevents" value="false"/>
<mapEntry key="org.eclipse.jdt.core/debug/cpresolution" value="false"/>
<mapEntry key="org.eclipse.jem.proxy/debug/loglevel" value="default"/>
<mapEntry key="org.eclipse.update.core/debug/warning" value="false"/>
<mapEntry key="org.eclipse.jem.beaninfo/debug/loglevel" value="default"/>
<mapEntry key="org.eclipse.core.resources/save" value="false"/>
<mapEntry key="org.eclipse.wst.sse.ui/filemodelprovider/lifecyclelistener" value="false"/>
<mapEntry key="org.eclipse.jem/debug/logtracefile" value="default"/>
<mapEntry key="org.eclipse.update.core/debug/parsing" value="false"/>
<mapEntry key="com.omondo.database/debug/info" value="true"/>
<mapEntry key="org.eclipse.core.resources/restore/syncinfo" value="false"/>
<mapEntry key="org.eclipse.core.runtime/preferences/general" value="false"/>
<mapEntry key="org.eclipse.team.core/threading" value="false"/>
<mapEntry key="org.eclipse.core.runtime/url/debug/cachelookup" value="false"/>
<mapEntry key="org.eclipse.osgi/debug/packageadmin/timing" value="false"/>
<mapEntry key="org.eclipse.update.core/debug/reconciler" value="false"/>
<mapEntry key="org.eclipse.osgi/debug/security" value="false"/>
<mapEntry key="org.eclipse.jem.proxy/remote/debug/debugvm" value="false"/>
<mapEntry key="org.eclipse.jst.jsp.core/debug/tracefilter" value=""/>
<mapEntry key="org.eclipse.core.resources/save/syncinfo" value="false"/>
<mapEntry key="org.eclipse.osgi/profile/startup" value="false"/>
<mapEntry key="org.eclipse.core.runtime/loader/debug/filter/resource" value="*"/>
<mapEntry key="org.eclipse.osgi/debug/services" value="false"/>
<mapEntry key="com.omondo.database/debug/fatal" value="true"/>
<mapEntry key="com.omondo.uml.std/trace/module/modelJavaEvent" value="false"/>
<mapEntry key="org.eclipse.core.resources/save/markers" value="false"/>
<mapEntry key="org.eclipse.osgi/monitor/resources" value="false"/>
<mapEntry key="org.eclipse.jem.proxy/remote/debug/ioconsole" value="false"/>
<mapEntry key="org.eclipse.wst.sse.ui/extendededitoractionbuilder/debugpopup" value="false"/>
<mapEntry key="org.eclipse.jem.ui/debug/loglevel" value="default"/>
<mapEntry key="org.eclipse.jdt.core/debug/selection" value="false"/>
<mapEntry key="org.eclipse.ui/trace/workbench.restore" value="false"/>
<mapEntry key="org.eclipse.core.resources/restore/snapshots" value="false"/>
<mapEntry key="org.eclipse.team.cvs.core/dirtycaching" value="false"/>
<mapEntry key="org.eclipse.jdt.core/debug/zipaccess" value="false"/>
<mapEntry key="org.eclipse.wst.sse.ui/extendededitoractionbuilder" value="true"/>
<mapEntry key="org.eclipse.core.runtime/url/debug/cachecopy" value="false"/>
<mapEntry key="org.eclipse.core.runtime/loader/debug/properties" value="true"/>
<mapEntry key="org.eclipse.wst.css.core/debug" value="true"/>
<mapEntry key="org.eclipse.ui/trace/include.timings" value="true"/>
<mapEntry key="org.eclipse.osgi/debug/bundleTime" value="false"/>
<mapEntry key="org.eclipse.core.runtime/jobs/beginend" value="false"/>
<mapEntry key="org.eclipse.wst.sse.ui/extendededitoractionbuilder/debugtoolbar" value="false"/>
<mapEntry key="org.eclipse.team.cvs.core/metafiles" value="false"/>
<mapEntry key="org.eclipse.team.core/debug" value="false"/>
<mapEntry key="org.eclipse.wst.sse.ui/storagemodelprovider/elementstatelistener" value="false"/>
<mapEntry key="org.eclipse.wst.sse.ui/extendededitoractionbuilder/contributetime" value="false"/>
<mapEntry key="org.eclipse.osgi/debug/events" value="false"/>
<mapEntry key="org.eclipse.wst.xml.core/debug" value="true"/>
<mapEntry key="org.eclipse.core.runtime/loader/debug/prefixes/success" value="true"/>
<mapEntry key="org.eclipse.osgi/debug/monitorbundles" value="false"/>
<mapEntry key="org.eclipse.core.runtime/debug/pluginstopper" value="true"/>
<mapEntry key="org.eclipse.ui/trace/workbench.start" value="false"/>
<mapEntry key="org.eclipse.jst.jsp.core/partitioner/prefixlistener" value="false"/>
<mapEntry key="org.eclipse.wst.server.ui/editor" value="false"/>
<mapEntry key="org.eclipse.osgi/resolver/wiring" value="false"/>
<mapEntry key="org.eclipse.osgi/profile/debug" value="false"/>
<mapEntry key="org.eclipse.ui/trace/contexts" value="false"/>
<mapEntry key="org.eclipse.core.resources/build/invoking" value="false"/>
<mapEntry key="org.eclipse.core.runtime/loader/debug/failure" value="true"/>
<mapEntry key="org.eclipse.ui/debug/uijob.longwarning" value="false"/>
<mapEntry key="org.eclipse.core.resources/perf/builders" value="10000"/>
<mapEntry key="org.eclipse.update.core/debug/type" value="false"/>
<mapEntry key="org.eclipse.core.resources/history" value="false"/>
<mapEntry key="org.eclipse.team.core/refreshjob" value="false"/>
<mapEntry key="org.eclipse.ui.intro/debug" value="true"/>
<mapEntry key="org.eclipse.wst.sse.core/resourcechangehandling" value="false"/>
<mapEntry key="org.eclipse.debug.core/debug" value="false"/>
<mapEntry key="org.eclipse.help/debug" value="true"/>
<mapEntry key="org.eclipse.ui/trace/perspective" value="false"/>
<mapEntry key="org.eclipse.ui/debug" value="false"/>
<mapEntry key="org.eclipse.osgi/debug/packageadmin" value="false"/>
<mapEntry key="org.eclipse.core.resources/build/failure" value="false"/>
<mapEntry key="org.eclipse.ui/trace/handlers" value="false"/>
<mapEntry key="org.eclipse.core.resources/save/tree" value="false"/>
<mapEntry key="org.eclipse.wst.sse.ui/debug/tracefilter" value=""/>
<mapEntry key="org.eclipse.core.runtime/config/debug" value="true"/>
<mapEntry key="org.eclipse.help.ui/debug" value="true"/>
<mapEntry key="org.eclipse.core.resources/restore/metainfo" value="false"/>
<mapEntry key="org.eclipse.wst.sse.core/builder/time" value="false"/>
<mapEntry key="org.eclipse.core.resources/save/mastertable" value="false"/>
<mapEntry key="com.ibm.wtp.common.util/debug/logtracefile" value="false"/>
<mapEntry key="org.eclipse.core.runtime/perf/failure" value="false"/>
<mapEntry key="org.eclipse.wst.sse.ui/extendedconfigurationbuilder/time" value="false"/>
<mapEntry key="org.eclipse.jdt.core/debug/buffermanager" value="false"/>
<mapEntry key="org.eclipse.wst.internet.monitor.core/parsing" value="false"/>
<mapEntry key="org.eclipse.wst.server.core/debug" value="true"/>
<mapEntry key="org.eclipse.osgi/resolver/grouping" value="false"/>
<mapEntry key="org.eclipse.core.runtime/loader/debug/success" value="true"/>
<mapEntry key="org.eclipse.ui.intro/trace/logInfo" value="true"/>
<mapEntry key="org.eclipse.core.resources/restore/mastertable" value="false"/>
</mapAttribute>
<stringAttribute key="org.eclipse.hyades.trace.ui.ATTR_DESTINATION_FILE" value=""/>
<stringAttribute key="org.eclipse.hyades.trace.ui.ATTR_DATA_COLLECTOR" value="org.eclipse.tptp.trace.ui.jvmpiMechanism:org.eclipse.tptp.analysisType.execution,org.eclipse.tptp.analysisType.methodCoverage"/>
<intAttribute key="org.eclipse.hyades.trace.ui.ATTR_EXEC_POLLING_FREQ" value="60"/>
<stringAttribute key="location3" value="runtime-embedded"/>
<booleanAttribute key="automaticAdd" value="false"/>
<stringAttribute key="checked" value="org.eclipse.core.runtime"/>
<booleanAttribute key="org.eclipse.hyades.trace.ui.ATTR_SHOW_EXEC_CPU_TIME" value="true"/>
<booleanAttribute key="includeFragments" value="true"/>
<booleanAttribute key="org.eclipse.hyades.trace.ui.ATTR_PROFILE_TO_FILE" value="false"/>
<stringAttribute key="location" value="/ws.rt/cdo.server"/>
<stringAttribute key="selected_workspace_plugins" value="org.eclipse.emf.cdo.jdbc,org.eclipse.net4j.spring,org.eclipse.net4j.socket,org.eclipse.net4j.core,org.eclipse.net4j.spring.db,org.eclipse.emf.cdo.dbgen,org.eclipse.emf.cdo.examples.server,org.eclipse.emf.cdo.core,org.eclipse.net4j.util,org.eclipse.emf.cdo.server,org.eclipse.emf.cdo.dbgen.oracle,org.eclipse.emf.cdo.jdbc.hsqldb,org.eclipse.emf.cdo.dbgen.ansi92,org.eclipse.emf.cdo.dbgen.mysql,org.eclipse.emf.cdo.dbgen.hsqldb"/>
<stringAttribute key="location4" value="C:\workspaces\runtime-workspace"/>
<booleanAttribute key="org.eclipse.hyades.trace.ui.ATTR_SHOW_EXEC_INSTANCES" value="false"/>
<stringAttribute key="application" value="org.eclipse.emf.cdo.examples.server.application"/>
<stringAttribute key="configLocation" value=""/>
<stringAttribute key="org.eclipse.hyades.trace.ui.ATTR_DESTINATION_MONITOR" value="DefaultMonitor"/>
<booleanAttribute key="org.eclipse.hyades.trace.ui.ATTR_EXEC_POLLING_FREQ_MODE" value="true"/>
<booleanAttribute key="clearws" value="false"/>
<stringAttribute key="location1" value="../cdo.embedded"/>
<stringAttribute key="pde.version" value="3.2a"/>
<stringAttribute key="templateConfig" value=""/>
<booleanAttribute key="default" value="false"/>
<booleanAttribute key="clearConfig" value="false"/>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<booleanAttribute key="useDefaultConfigArea" value="true"/>
<booleanAttribute key="org.eclipse.hyades.trace.ui.ATTR_SHOW_EXEC_BOUNDARY_CLASS" value="false"/>
<booleanAttribute key="useDefaultConfig" value="true"/>
<booleanAttribute key="askclear" value="false"/>
<booleanAttribute key="includeOptional" value="true"/>
<stringAttribute key="org.eclipse.hyades.trace.ui.ATTR_DESTINATION_PROJECT" value="ProfileProject"/>
<booleanAttribute key="org.eclipse.hyades.trace.ui.ATTR_SHOW_EXECUTION_FLOW" value="false"/>
<intAttribute key="org.eclipse.hyades.trace.ui.ATTR_SHOW_EXEC_BOUNDARY_CLASS_DEPTH" value="1"/>
</launchConfiguration>
