<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2022 Eike Stepper (Loehne, Germany) and others.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
    Eike Stepper - initial API and implementation
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Modules -->
      <package
            uri="http://www.eclipse.org/emf/CDO/lm/modules/1.0.0"
            class="org.eclipse.emf.cdo.lm.modules.ModulesPackage"
            genModel="model/Modules.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated Modules -->
      <parser
            type="md"
            class="org.eclipse.emf.cdo.lm.modules.util.ModulesResourceFactoryImpl"/>
   </extension>

</plugin>
