<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
	Copyright (c) 2013 Eike Stepper (Berlin, Germany) and others.
	All rights reserved. This program and the accompanying materials
	are made available under the terms of the Eclipse Public License v1.0
	which accompanies this distribution, and is available at
	http://www.eclipse.org/legal/epl-v10.html

	Contributors:
	  Eike Stepper - initial API and implementation
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated setup -->
      <package
            uri="http://www.eclipse.org/CDO/releng/setup/1.0"
            class="org.eclipse.emf.cdo.releng.setup.SetupPackage"
            genModel="model/setup.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated setup -->
      <parser
            type="setup"
            class="org.eclipse.emf.cdo.releng.setup.util.SetupResourceFactoryImpl"/>
   </extension>

   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.eclipse.emf.cdo.releng.internal.setup.Activator$EarlyStartup">
      </startup>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.eclipse.emf.cdo.releng.setup.contribution1"
            objectClass="org.eclipse.emf.cdo.releng.setup.SetupTask">
         <action
               class="org.eclipse.emf.cdo.releng.internal.setup.ui.ToggleDisabledAction"
               enablesFor="multiple"
               id="org.eclipse.emf.cdo.releng.setup.ToggleDisabledAction"
               label="Disabled"
               state="false"
               style="toggle"
               tooltip="Changes the enablement of the task">
         </action>
      </objectContribution>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.emf.cdo.releng.ui.preferences.RelengPreferencePage"
            id="org.eclipse.emf.cdo.releng.setup.SetupPreferencePage"
            class="org.eclipse.emf.cdo.releng.internal.setup.ui.SetupPreferencePage"
            name="Setup Tool Configuration">
      </page>
   </extension>

   <extension
         point="org.eclipse.pde.core.targetLocations">
      <targetLocation
            canUpdate="true"
            locationFactory="org.eclipse.emf.cdo.releng.internal.setup.targlets.TargletBundleContainer$Factory"
            type="Targlet">
      </targetLocation>
   </extension>

   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.pde.core.target.ITargetLocation"
            class="org.eclipse.emf.cdo.releng.internal.setup.targlets.TargletBundleContainer$UIFactory">
         <adapter
               type="org.eclipse.jface.viewers.ILabelProvider">
         </adapter>
         <adapter
               type="org.eclipse.jface.viewers.ITreeContentProvider">
         </adapter>
         <adapter
               type="org.eclipse.pde.ui.target.ITargetLocationEditor">
         </adapter>
         <adapter
               type="org.eclipse.pde.ui.target.ITargetLocationUpdater">
         </adapter>
      </factory>
   </extension>
   
   <extension
         point="org.eclipse.pde.ui.targetLocationProvisioners">
      <locationProvider
            class="org.eclipse.emf.cdo.releng.internal.setup.targlets.TargletBundleContainer$UIFactory$NewTargletWizard"
            icon="icons/targlets.gif"
            id="org.eclipse.emf.cdo.releng.setup.TargletProvisioner"
            name="Targlet">
         <description>
            Download plug-ins from a software site such as a p2 repository or update site.
         </description>
      </locationProvider>
   </extension>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.eclipse.emf.cdo.releng.setup.actionSet"
            label="Test"
            visible="true">
         <menu
               id="setupMenu"
               label="Setup &amp;Menu">
            <separator
                  name="setupGroup">
            </separator>
         </menu>
         <action
               class="org.eclipse.emf.cdo.releng.internal.setup.targlets.TestAction"
               id="org.eclipse.emf.cdo.releng.internal.setup.targlets.TestAction"
               label="&amp;Test"
               style="push"
               toolbarPath="setupGroup">
         </action>
      </actionSet>
   </extension>

</plugin>
