<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension point="org.eclipse.net4j.util.factories">
      <factory
            class="org.eclipse.net4j.examples.echo.server.EchoServerProtocol$Factory"
            productGroup="org.eclipse.net4j.serverProtocols"
            type="echo"/>
      <factory
            class="org.eclipse.net4j.examples.transfer.UploadServer$ProtocolFactory"
            productGroup="org.eclipse.net4j.serverProtocols"
            type="upload"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.eclipse.net4j.examples.actionSet"
            label="%actionSet.label"
            visible="true">
         <menu
               id="sampleMenu"
               label="%menu.label">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               class="org.eclipse.net4j.examples.transfer.UploadClientAction"
               icon="icons/sample.gif"
               id="org.eclipse.net4j.examples.transfer.TransferClientAction"
               label="%action.label"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               tooltip="%action.tooltip">
         </action>
      </actionSet>
   </extension>

</plugin>
