<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2022, 2024, 2025 Eike Stepper (Loehne, Germany) and others.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License 2.0
  which is available at https://www.eclipse.org/legal/epl-2.0

  SPDX-License-Identifier: EPL-2.0

  Contributors:
    Eike Stepper - initial API and implementation
-->

<plugin>

   <extension point="org.eclipse.net4j.util.factories">
       <factory productGroup="org.eclipse.emf.cdo.lm.modules.targetNameProviders" type="lm" class="org.eclipse.emf.cdo.lm.ui.LMTargetNameProvider$Factory"/>
       <factory productGroup="org.eclipse.net4j.util.ui.menuFillers" type="lm" class="org.eclipse.emf.cdo.lm.ui.LMMenuFiller$Factory"/>
       <factory productGroup="org.eclipse.net4j.util.ui.propertyExtenders" type="lm" class="org.eclipse.emf.cdo.lm.ui.LMPropertyExtender$Factory"/>
       <factory productGroup="org.eclipse.emf.cdo.ui.historyInputObjectModifiers" type="lm" class="org.eclipse.emf.cdo.lm.ui.LMHistoryInputObjectModifier$Factory"/>
       <factory productGroup="org.eclipse.emf.cdo.ui.loadResourceProviders" type="lm" class="org.eclipse.emf.cdo.lm.ui.LMLoadResourceProvider$Factory"/>
       <factories productGroup="org.eclipse.net4j.util.security.authorizableOperations" class="org.eclipse.net4j.util.security.operations.AuthorizableOperationFactory">
         <type value="org.eclipse.emf.cdo.lm.ui.CreateModule"/>
         <type value="org.eclipse.emf.cdo.lm.ui.DeleteModule"/>
         <type value="org.eclipse.emf.cdo.lm.ui.CreateStream"/>
         <type value="org.eclipse.emf.cdo.lm.ui.CreateChange"/>
         <type value="org.eclipse.emf.cdo.lm.ui.RenameChange"/>
         <type value="org.eclipse.emf.cdo.lm.ui.DeleteChange"/>
         <type value="org.eclipse.emf.cdo.lm.ui.CreateDelivery"/>
         <type value="org.eclipse.emf.cdo.lm.ui.CreateDrop"/>
         <type value="org.eclipse.emf.cdo.lm.ui.CreateRelease"/>
         <type value="org.eclipse.emf.cdo.lm.ui.AttachFingerprint"/>
       </factories>
   </extension>

   <extension point="org.eclipse.core.runtime.adapters">
     <factory
           adaptableType="org.eclipse.emf.cdo.lm.client.IAssemblyDescriptor"
           class="org.eclipse.emf.cdo.lm.ui.properties.LMPropertiesAdapterFactory">
        <adapter type="org.eclipse.ui.views.properties.IPropertySourceProvider"/>
        <adapter type="org.eclipse.ui.IActionFilter"/>
     </factory>
   </extension>
    
   <extension point="org.eclipse.ui.views">
      <view
            category="org.eclipse.emf.cdo"
            class="org.eclipse.emf.cdo.lm.ui.views.SystemsView"
            icon="icons/System.gif"
            id="org.eclipse.emf.cdo.lm.SystemsView"
            name="%view.name"/>
      <view
            category="org.eclipse.emf.cdo"
            class="org.eclipse.emf.cdo.lm.ui.views.AssembliesView"
            icon="icons/Assembly.gif"
            id="org.eclipse.emf.cdo.lm.AssembliesView"
            name="%view.name.0"/>
   </extension>
   
   <extension point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="org.eclipse.emf.cdo.lm.ui.decorators.AvailableUpdatesDecorator"
            id="org.eclipse.emf.cdo.lm.ModuleUpdatesAvailableDecorator"
            label="%decorator.label"
            lightweight="true"
            state="true">
         <enablement>
            <or>
              <objectClass name="org.eclipse.emf.cdo.lm.client.IAssemblyDescriptor"/>
              <objectClass name="org.eclipse.emf.cdo.lm.assembly.AssemblyModule"/>
            </or>
         </enablement>
      </decorator>
   </extension>


  <extension point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.emf.cdo.lm.InstallUpdates"
            name="%install.updates.name"
            defaultHandler="org.eclipse.emf.cdo.lm.ui.actions.InstallUpdatesHandler"/>
      <command
            id="org.eclipse.emf.cdo.lm.VerifyFingerPrint"
            name="%verify.finger.print.name"
            defaultHandler="org.eclipse.emf.cdo.lm.ui.actions.VerifyFingerPrintHandler"/>
  </extension>

  <extension point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.emf.cdo.lm.ui.actions.InstallUpdatesHandler"
            commandId="org.eclipse.emf.cdo.lm.InstallUpdates">
         <activeWhen>
            <iterate ifEmpty="false">
                <adapt type="org.eclipse.emf.cdo.lm.client.IAssemblyDescriptor">
                   <test property="org.eclipse.emf.cdo.lm.assembly.updatesAvailable" value="true"/>
                </adapt>
            </iterate>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.emf.cdo.lm.ui.actions.VerifyFingerPrintHandler"
            commandId="org.eclipse.emf.cdo.lm.VerifyFingerPrint">
         <activeWhen>
            <iterate ifEmpty="false">
                <adapt type="org.eclipse.emf.cdo.lm.client.IAssemblyDescriptor">
                   <test property="org.eclipse.emf.cdo.lm.assembly.baselineHasFingerPrint" value="true"/>
                </adapt>
            </iterate>
         </activeWhen>
      </handler>
  </extension>

  <extension point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="org.eclipse.emf.cdo.lm"
               label="%lifecycle.management.label"
               tooltip="%lifecycle.management.tooltip">
           <command
                 commandId="org.eclipse.emf.cdo.lm.InstallUpdates"
                 icon="icons/Update.gif"
                 label="%install.updates.label"
                 style="push"
                 tooltip="%install.updates.tooltip">
              <visibleWhen checkEnabled="false">
                 <with variable="activeMenuSelection">
                    <iterate ifEmpty="false">
                      <adapt type="org.eclipse.emf.cdo.lm.client.IAssemblyDescriptor">
                         <test property="org.eclipse.emf.cdo.lm.assembly.updatesAvailable" value="true"/>
                      </adapt>
                    </iterate>
                 </with>
              </visibleWhen>
           </command>
           <command
                 commandId="org.eclipse.emf.cdo.lm.VerifyFingerPrint"
                 icon="icons/FingerPrint.gif"
                 label="%verify.finger.print.label"
                 style="push"
                 tooltip="%verify.finger.print.tooltip">
              <visibleWhen checkEnabled="false">
                 <with variable="activeMenuSelection">
                    <iterate ifEmpty="false">
                      <adapt type="org.eclipse.emf.cdo.lm.client.IAssemblyDescriptor">
                         <test property="org.eclipse.emf.cdo.lm.assembly.baselineHasFingerPrint" value="true"/>
                      </adapt>
                    </iterate>
                 </with>
              </visibleWhen>
           </command>
         </menu>
      </menuContribution>
  </extension>

   <extension point="org.eclipse.ui.propertyPages">
      <page
            class="org.eclipse.emf.cdo.lm.ui.properties.ModulePropertyPage"
            id="org.eclipse.emf.cdo.lm.ui.properties.ModulePropertyPage"
            name="%page.name">
         <enabledWhen>
            <adapt type="org.eclipse.emf.cdo.explorer.checkouts.CDOCheckout">
              <test property="org.eclipse.emf.cdo.lm.checkout.isModule" value="true"/>
            </adapt>
         </enabledWhen>
      </page>
   </extension>

</plugin>
