<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
	Copyright (c) 2017 Eike Stepper (Loehne, Germany) and others.
	All rights reserved. This program and the accompanying materials
	are made available under the terms of the Eclipse Public License 2.0
	which is available at https://www.eclipse.org/legal/epl-2.0
	
	SPDX-License-Identifier: EPL-2.0

	Contributors:
	  Eike Stepper - initial API and implementation
-->

<plugin>

   <extension point="org.eclipse.core.runtime.applications" id="ApiReportsApplication">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run class="org.eclipse.emf.cdo.releng.apireports.ApiReportsApplication"/>
      </application>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.emf.cdo.releng.apireports.ApiReportsHandler"
            id="org.eclipse.emf.cdo.releng.apireports.ApiReportsGenerator"
            name="API Reports Generator">
      </command>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.eclipse.emf.cdo.releng.apireports.ApiReportsGenerator"
               icon="icons/report.gif"
               label="Generate API Report"
               style="push"
               tooltip="Generate API Report">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                      <adapt type="org.eclipse.core.resources.IFile">
                         <test property="org.eclipse.core.resources.name" value="api.properties" />
                      </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   
</plugin>
