<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<!--
	Copyright (c) 2004 - 2009 Eike Stepper (Berlin, Germany) and others.
	All rights reserved. This program and the accompanying materials
	are made available under the terms of the Eclipse Public License v1.0
	which accompanies this distribution, and is available at
	http://www.eclipse.org/legal/epl-v10.html
	
	Contributors:
	  Eike Stepper - initial API and implementation
-->

<plugin>
   <extension
         point="org.eclipse.team.ui.configurationWizards">
      <wizard
            class="org.eclipse.emf.cdo.ui.internal.ide.wizards.TeamConfigurationWizard"
            icon="icons/full/obj16/CDOResource.gif"
            id="org.eclipse.emf.cdo.ui.ide.TeamConfigurationWizard"
            name="CDO">
      </wizard>
   </extension>

   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.eclipse.emf.cdo.ui.ide.RepositoryContentProvider"
            icon="icons/full/obj16/repository_content.gif"
            id="org.eclipse.emf.cdo.ui.ide.RepositoryContent"
            labelProvider="org.eclipse.emf.cdo.ui.ide.RepositoryLabelProvider"
            name="CDO Repository Content"
            priority="normal"
            providesSaveables="false">
         <triggerPoints>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IProject">
                  <test
                        args="org.eclipse.team.core.repository,org.eclipse.emf.cdo.team.TeamProvider"
                        property="org.eclipse.core.resources.projectPersistentProperty">
                  </test>
               </adapt>
               <instanceof
                     value="org.eclipse.emf.cdo.ui.ide.Node">
               </instanceof>
               <instanceof
                     value="org.eclipse.emf.ecore.EObject">
               </instanceof>
            </or>
         </triggerPoints>
      </navigatorContent>
   </extension>
   
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  isRoot="false"
                  pattern="org.eclipse.emf.cdo.ui.ide.RepositoryContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.eclipse.emf.cdo.ui.ide.IProjectContributions"
            objectClass="org.eclipse.core.resources.IProject">
         <filter
               name="projectPersistentProperty"
               value="org.eclipse.team.core.repository=org.eclipse.emf.cdo.team.TeamProvider">
         </filter>
         <action
               class="org.eclipse.emf.cdo.ui.internal.ide.actions.DisconnectAction"
               id="org.eclipse.emf.cdo.ui.ide.DisconnectAction"
               label="Disconnect"
               menubarPath="team.main/projectGroup">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.eclipse.emf.cdo.ui.ide.ResourcesNodeContributions"
            objectClass="org.eclipse.emf.cdo.ui.ide.Node$ResourcesNode">
         <action
               class="org.eclipse.emf.cdo.ui.internal.ide.actions.NewResourceAction"
               icon="icons/full/elcl16/NewCDOResource.gif"
               id="org.eclipse.emf.cdo.ui.ide.RemoveResourceAction"
               label="New CDOResource">
         </action>
         <action
               class="org.eclipse.emf.cdo.ui.internal.ide.actions.NewResourceFolderAction"
               icon="icons/full/elcl16/NewCDOResourceFolder.gif"
               id="org.eclipse.emf.cdo.ui.ide.RemoveResourceAction"
               label="New Folder">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.eclipse.emf.cdo.ui.ide.CDOResourceNodeContributions"
            objectClass="org.eclipse.emf.cdo.eresource.CDOResourceNode">
         <action
               class="org.eclipse.emf.cdo.ui.internal.ide.actions.RemoveResourceAction"
               icon="icons/full/elcl16/delete_edit.gif"
               id="org.eclipse.emf.cdo.ui.ide.RemoveResourceAction"
               label="Remove">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.eclipse.emf.cdo.ui.ide.CDOResourceFolderContributions"
            objectClass="org.eclipse.emf.cdo.eresource.CDOResourceFolder">
         <action
               class="org.eclipse.emf.cdo.ui.internal.ide.actions.NewResourceAction"
               icon="icons/full/elcl16/NewCDOResource.gif"
               id="org.eclipse.emf.cdo.ui.ide.RemoveResourceAction"
               label="New CDOResource">
         </action>
         <action
               class="org.eclipse.emf.cdo.ui.internal.ide.actions.NewResourceFolderAction"
               icon="icons/full/elcl16/NewCDOResourceFolder.gif"
               id="org.eclipse.emf.cdo.ui.ide.RemoveResourceAction"
               label="New Folder">
         </action>
      </objectContribution>
			<objectContribution
            id="org.eclipse.emf.cdo.ui.ide.CDOResource"
            objectClass="org.eclipse.emf.cdo.eresource.CDOResource">
         <action
               class="org.eclipse.emf.cdo.tests.model1.diagram.part.Model1InitDiagramFileAction"
               enablesFor="1"
               id="org.eclipse.emf.cdo.tests.model1.diagram.InitDiagramAction"
               label="Init Diagram">
         </action>
      </objectContribution>   </extension>

</plugin>
