<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
	Copyright (c) 2012, 2014, 2015 Eike Stepper (Loehne, Germany) and others.
	All rights reserved. This program and the accompanying materials
	are made available under the terms of the Eclipse Public License 2.0
	which is available at https://www.eclipse.org/legal/epl-2.0
	
	SPDX-License-Identifier: EPL-2.0

	Contributors:
	  Eike Stepper - initial API and implementation
-->

<plugin>

  <extension
        point="org.eclipse.core.runtime.adapters">
     <factory
           adaptableType="org.eclipse.emf.cdo.session.CDOSession"
           class="org.eclipse.emf.cdo.ui.internal.team.history.CDOHistoryAdapterFactory">
        <adapter type="org.eclipse.team.ui.history.IHistoryPageSource"/>
     </factory>
     <factory
           adaptableType="org.eclipse.emf.cdo.common.branch.CDOBranch"
           class="org.eclipse.emf.cdo.ui.internal.team.history.CDOHistoryAdapterFactory">
        <adapter type="org.eclipse.team.ui.history.IHistoryPageSource"/>
     </factory>
     <factory
           adaptableType="org.eclipse.emf.cdo.view.CDOView"
           class="org.eclipse.emf.cdo.ui.internal.team.history.CDOHistoryAdapterFactory">
        <adapter type="org.eclipse.team.ui.history.IHistoryPageSource"/>
     </factory>
     <factory
           adaptableType="org.eclipse.emf.ecore.EObject"
           class="org.eclipse.emf.cdo.ui.internal.team.history.CDOHistoryAdapterFactory">
        <adapter type="org.eclipse.team.ui.history.IHistoryPageSource"/>
     </factory>
  </extension>

</plugin>
