<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.eclipse.emf.cdo.releng.version.digest.ui.contribution1"
            nameFilter="release.xml"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.eclipse.emf.cdo.releng.version.digest.ui.menu1"
               label="Releng Tools"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="org.eclipse.emf.cdo.releng.version.digest.ui.CreateDigestAction"
               enablesFor="1"
               id="org.eclipse.emf.cdo.releng.version.digest.ui.newAction"
               label="Create Digest"
               menubarPath="org.eclipse.emf.cdo.releng.version.digest.ui.menu1/group1"
               state="true"
               style="push"
               tooltip="Creates a digest file for this release">
         </action>
      </objectContribution>
   </extension>

</plugin>
