<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2010-05-16 16:04:14 mfluegge Exp $
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/emf/cdo/dawn/2010/GenModel"
            class="org.eclipse.emf.cdo.dawn.codegen.dawngenmodel.DawngenmodelPackage"
            genModel="model/DawnCodeGen.genmodel"/>
   </extension>

</plugin>
