<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
	Copyright (c) 2010, 2012 Eike Stepper (Berlin, Germany) and others.
	All rights reserved. This program and the accompanying materials
	are made available under the terms of the Eclipse Public License v1.0
	which accompanies this distribution, and is available at
	http://www.eclipse.org/legal/epl-v10.html

	Contributors:
	  Eike Stepper - initial API and implementation
-->

<plugin>

   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            class="org.eclipse.emf.cdo.ui.efs.wizards.CDOProjectImportWizard"
            icon="icons/full/obj16/repository_content.gif"
            id="org.eclipse.emf.cdo.ui.efs.wizard.import"
            name="%wizard.name.0">
      </wizard>
   </extension>
 
</plugin>
