<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
	Copyright (c) 2007-2010, 2012, 2018 Eike Stepper (Loehne, Germany) and others.
	All rights reserved. This program and the accompanying materials
	are made available under the terms of the Eclipse Public License v1.0
	which accompanies this distribution, and is available at
	http://www.eclipse.org/legal/epl-v10.html

	Contributors:
	  Eike Stepper - initial API and implementation
-->

<plugin>

  <extension point="org.eclipse.emf.importer.modelImporterDescriptors">
    <modelImporterDescriptor
    	id="org.eclipse.emf.importer.cdo"
    	name="%_UI_CDOImporter_label"
    	icon="icons/full/obj16/CDOModelFile.gif"
    	extensions="ecore,emof"
    	description="%_UI_CDOImporter_description"
    	wizard="org.eclipse.emf.cdo.internal.migrator.wizards.CDOImporterWizard" />
  </extension>

  <extension
        point="org.eclipse.ui.popupMenus">
     <objectContribution
           id="org.eclipse.emf.cdo.migrator.MigrateContribution"
           nameFilter="*.genmodel"
           objectClass="org.eclipse.core.resources.IFile">
        <menu
              id="org.eclipse.emf.cdo.migrator.menu1"
              label="%menu.label"
              path="additions">
           <separator
                 name="group1">
           </separator>
        </menu>
        <action
              class="org.eclipse.emf.cdo.internal.migrator.actions.MigrateAction"
              enablesFor="1"
              id="org.eclipse.emf.cdo.migrator.MigrateAction"
              label="%action.label"
              menubarPath="org.eclipse.emf.cdo.migrator.menu1/group1">
        </action>
        <action
              class="org.eclipse.emf.cdo.internal.migrator.actions.MigrateDynamicAction"
              enablesFor="1"
              id="org.eclipse.emf.cdo.migrator.MigrateDynamicAction"
              label="%action2.label"
              menubarPath="org.eclipse.emf.cdo.migrator.menu1/group1">
        </action>
     </objectContribution>
  </extension>

  <extension point="org.eclipse.ant.core.extraClasspathEntries">
    <extraClasspathEntry library="ant_tasks/cdo.ant.tasks.jar" />
  </extension>

  <extension point="org.eclipse.ant.core.antTasks">
    <antTask library="ant_tasks/cdo.ant.tasks.jar" name="cdo.automaticBuild" class="org.eclipse.emf.cdo.internal.migrator.tasks.AutomaticBuildTask" />
    <antTask library="ant_tasks/cdo.ant.tasks.jar" name="cdo.importProject" class="org.eclipse.emf.cdo.internal.migrator.tasks.ImportProjectTask" />
    <antTask library="ant_tasks/cdo.ant.tasks.jar" name="cdo.deleteProject" class="org.eclipse.emf.cdo.internal.migrator.tasks.DeleteProjectTask" />
    <antTask library="ant_tasks/cdo.ant.tasks.jar" name="cdo.cleanupProject" class="org.eclipse.emf.cdo.internal.migrator.tasks.CleanupProjectTask" />
    <antTask library="ant_tasks/cdo.ant.tasks.jar" name="cdo.migrateModel" class="org.eclipse.emf.cdo.internal.migrator.tasks.MigrateModelTask" />
    <antTask library="ant_tasks/cdo.ant.tasks.jar" name="cdo.generateModel" class="org.eclipse.emf.cdo.internal.migrator.tasks.GenerateModelTask" />
    <antTask library="ant_tasks/cdo.ant.tasks.jar" name="cdo.expandTemplate" class="org.eclipse.emf.cdo.internal.migrator.tasks.ExpandTemplateTask" />
    <antTask library="ant_tasks/cdo.ant.tasks.jar" name="cdo.transferMembers" class="org.eclipse.emf.cdo.internal.migrator.tasks.TransferMembersTask" />
  </extension>
  
  <extension point="org.eclipse.ant.core.antTypes">
     <antType library="ant_tasks/cdo.ant.tasks.jar" name="templateproperty" class="org.eclipse.emf.cdo.internal.migrator.tasks.ExpandTemplateTask$TemplateProperty" />
     <antType library="ant_tasks/cdo.ant.tasks.jar" name="sourceclass" class="org.eclipse.emf.cdo.internal.migrator.tasks.TransferMembersTask$SourceClass" />
     <antType library="ant_tasks/cdo.ant.tasks.jar" name="sourcefield" class="org.eclipse.emf.cdo.internal.migrator.tasks.TransferMembersTask$SourceClass$SourceField" />
     <antType library="ant_tasks/cdo.ant.tasks.jar" name="sourcemethod" class="org.eclipse.emf.cdo.internal.migrator.tasks.TransferMembersTask$SourceClass$SourceMethod" />
  </extension>
  
  <extension point="org.eclipse.emf.ecore.annotation_validator">
     <validator
           class="org.eclipse.emf.cdo.internal.migrator.dbstore.DBStoreAnnotationValidator"
           uri="http://www.eclipse.org/CDO/DBStore" />
  </extension>
  
  <extension point="org.eclipse.emf.ecore.edit.annotation_item_provider_adapter_factory">
     <factory
           class="org.eclipse.emf.cdo.internal.migrator.dbstore.DBStoreItemProviderAdapterFactory"
           uri="http://www.eclipse.org/CDO/DBStore" />
  </extension>

</plugin>
