<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

  <!--
  <extension point="org.eclipse.net4j.util.elementProcessors">
     <elementProcessor class="org.eclipse.emf.cdo.protocol.util.CDOGZIPStreamWrapperInjector"/>
  </extension>
  -->

   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.emf.cdo"
            name="CDO">
      </category>
      <view
            category="org.eclipse.emf.cdo"
            class="org.eclipse.emf.cdo.internal.ui.views.CDOSessionsView"
            icon="icons/full/view16/cdo_sessions.gif"
            id="org.eclipse.emf.cdo.CDOSessionsView"
            name="CDO Sessions">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="org.eclipse.emf.cdo.ui.CDOSessionsView"
               ratio="0.5"
               relationship="left"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   
   <!--
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.cdo.ui"
            name="CDO">
      </category>
      <wizard
            category="org.eclipse.emf.cdo.ui"
            class="org.eclipse.emf.cdo.internal.ui.wizards.NewEditorWizard"
            hasPages="true"
            icon="icons/full/etool16/open_editor.gif"
            id="org.eclipse.emf.cdo.ui.NewEditorWizard"
            name="New CDO Editor"
            project="false">
      </wizard>
      <wizard
            category="org.eclipse.emf.cdo.ui"
            class="org.eclipse.emf.cdo.internal.ui.wizards.NewSessionWizard"
            hasPages="true"
            icon="icons/full/etool16/open_session.gif"
            id="org.eclipse.emf.cdo.ui.NewSessionWizard"
            name="New CDO Session"
            project="false">
      </wizard>
   </extension>
	-->
	
  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "org.eclipse.emf.cdo.ui.CDOEditor"
        name = "CDO Editor"
        icon = "icons/full/obj16/cdo_editor.gif"
        extensions = "*"
        class = "org.eclipse.emf.cdo.internal.ui.editor.CDOEditor" 
        contributorClass="org.eclipse.emf.cdo.internal.ui.editor.CDOActionBarContributor" >
    </editor>
  </extension>    

   <!--extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.cdo.ui"
            name="CDO">
      </category>
      <wizard
            canFinishEarly="true"
            category="org.eclipse.emf.cdo.ui"
            class="org.eclipse.emf.cdo.internal.ui.wizards.NewSessionWizard"
            hasPages="true"
            icon="icons/full/etool16/open_session.gif"
            id="org.eclipse.net4j.ui.NewSessionWizard"
            name="New Session">
      </wizard>
   </extension-->

</plugin>
