<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
	Copyright (c) 2007-2013 Eike Stepper (Berlin, Germany) and others.
	All rights reserved. This program and the accompanying materials
	are made available under the terms of the Eclipse Public License v1.0
	which accompanies this distribution, and is available at
	http://www.eclipse.org/legal/epl-v10.html

	Contributors:
	  Eike Stepper - initial API and implementation
	  Christian W. Damus (CEA LIST) - bug 420528
-->

<plugin>

  <extension
        point="org.eclipse.net4j.util.elementProcessors">
     <elementProcessor class="org.eclipse.emf.cdo.ui.CDOInteractiveExceptionHandler"/>
	</extension>

   <extension
         point="org.eclipse.net4j.util.factories">
      <factory
            class="org.eclipse.emf.cdo.internal.ui.transfer.RepositoryUIProvider$Factory"
            productGroup="org.eclipse.emf.cdo.transfer.ui.providers"
            type="repository"/>
   </extension>

   <extension
         point="org.eclipse.ui.dropActions">
      <action
            class="org.eclipse.emf.cdo.internal.ui.transfer.RepositoryPluginDropAdapter"
            id="org.eclipse.emf.cdo.ui.RepositoryPluginDropAdapter">
      </action>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.emf.cdo"
            name="%category.name.0">
      </category>
      <view
            category="org.eclipse.emf.cdo"
            class="org.eclipse.emf.cdo.internal.ui.views.CDOSessionsView"
            icon="platform:/plugin/org.eclipse.emf.cdo.ui.shared/icons/full/view16/cdo_sessions.gif"
            id="org.eclipse.emf.cdo.ui.CDOSessionsView"
            name="%view.name.0">
      </view>
      <view
            category="org.eclipse.emf.cdo"
            class="org.eclipse.emf.cdo.internal.ui.views.CDOWatchListView"
            icon="platform:/plugin/org.eclipse.emf.cdo.ui.shared/icons/full/view16/watch_list.gif"
            id="org.eclipse.emf.cdo.ui.CDOWatchListView"
            name="%view.name.1">
      </view>
      <view
            category="org.eclipse.emf.cdo"
            class="org.eclipse.emf.cdo.internal.ui.views.CDORemoteSessionsView"
            icon="platform:/plugin/org.eclipse.emf.cdo.ui.shared/icons/full/view16/watch_list.gif"
            id="org.eclipse.emf.cdo.ui.CDORemoteSessionsView"
            name="%view.name.2">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="org.eclipse.emf.cdo.ui.CDOSessionsView"
               ratio="0.2"
               relationship="bottom"
               relative="org.eclipse.ui.views.ResourceNavigator">
         </view>
      </perspectiveExtension>
   </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "org.eclipse.emf.cdo.ui.CDOEditor"
        name = "%editor.name.0"
        icon = "platform:/plugin/org.eclipse.emf.cdo.ui.shared/icons/full/obj16/cdo_editor.gif"
        extensions = "*"
        class = "org.eclipse.emf.cdo.internal.ui.editor.CDOEditor"
        contributorClass="org.eclipse.emf.cdo.internal.ui.editor.CDOActionBarContributor" >
    </editor>
  </extension>

  <extension
        point="org.eclipse.ui.newWizards">
     <category
           id="org.eclipse.emf.cdo.category"
           name="CDO">
     </category>
  </extension>

  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           class="org.eclipse.emf.cdo.internal.ui.preferences.CDOPreferencePage"
           id="org.eclipse.emf.cdo.ui.CDOPreferencePage"
           name="%page.name.0">
     </page>
     <page
           category="org.eclipse.emf.cdo.ui.CDOPreferencePage"
           class="org.eclipse.emf.cdo.internal.ui.preferences.CDOUIPreferencePage"
           id="org.eclipse.emf.cdo.ui.CDOUIPreferencePage"
           name="%page.name.1">
     </page>
  </extension>

  <extension
        point="org.eclipse.ui.decorators">
     <decorator
           class="org.eclipse.emf.cdo.ui.CDOLabelDecorator"
           id="org.eclipse.emf.cdo.ui.CDOLabelDecorator"
           label="%_UI_CDOLabelDecorator_label"
           lightweight="false"
           state="true">
        <enablement>
           <objectClass
                 name="org.eclipse.emf.cdo.CDOObject">
           </objectClass>
        </enablement>
        <description>
           %_UI_CDOLabelDecorator_description
        </description>
     </decorator>
     <!--
     <decorator
           icon="icons/full/ovr16/error.gif"
           id="org.eclipse.emf.cdo.ui.CDOSessionLabelDecorator"
           label="CDOSession Offline Label Decorator"
           lightweight="true"
           location="BOTTOM_LEFT"
           state="true">
        <enablement>
           <and>
              <objectClass name="org.eclipse.emf.cdo.session.CDOSession"/>
  						<test property="org.eclipse.emf.cdo.session.repositoryState" value="OFFLINE"/>
           </and>
        </enablement>
     </decorator>
     -->
  </extension>

  <extension
        point="org.eclipse.ui.perspectives">
     <perspective
           class="org.eclipse.emf.cdo.internal.ui.perspectives.CDOPerspective"
           icon="platform:/plugin/org.eclipse.emf.cdo.ui.shared/icons/full/view16/cdo_sessions.gif"
           id="org.eclipse.emf.cdo.ui.CDOExplorerPerspective"
           name="%perspective.name">
     </perspective>
  </extension>

  <extension
        point="org.eclipse.core.runtime.adapters">
     <factory
           adaptableType="org.eclipse.emf.cdo.session.CDOSession"
           class="org.eclipse.emf.cdo.internal.ui.CDOPropertyAdapterFactory">
        <adapter type="org.eclipse.ui.views.properties.IPropertySourceProvider"/>
        <adapter type="org.eclipse.ui.IActionFilter"/>
     </factory>
     <factory
           adaptableType="org.eclipse.emf.cdo.view.CDOView"
           class="org.eclipse.emf.cdo.internal.ui.CDOPropertyAdapterFactory">
        <adapter type="org.eclipse.ui.views.properties.IPropertySourceProvider"/>
        <adapter type="org.eclipse.ui.IActionFilter"/>
     </factory>
     <factory
           adaptableType="org.eclipse.emf.ecore.EObject"
           class="org.eclipse.emf.cdo.internal.ui.CDOPropertyAdapterFactory">
        <adapter type="org.eclipse.ui.views.properties.IPropertySourceProvider"/>
        <adapter type="org.eclipse.ui.IActionFilter"/>
     </factory>
  </extension>

	<!--
   <extension
         id="org.eclipse.core.filesystem.cdo.workspace"
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem scheme="cdo.lob">
         <run class="org.eclipse.emf.cdo.internal.ui.CDOLobEditorInput$LobFileSystem"/>
      </filesystem>
   </extension>
	-->
	
   <extension
         point="org.eclipse.ui.editors.documentProviders">
      <provider
            class="org.eclipse.emf.cdo.internal.ui.CDOLobStorage"
            inputTypes="org.eclipse.emf.cdo.internal.ui.CDOLobEditorInput"
            id="org.eclipse.emf.cdo.ui.CDOLobStorage">
      </provider>
   </extension>

   <!--extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.eclipse.emf.cdo.ui.CDOResourceNodeContributionsWritableContainer"
            objectClass="org.eclipse.emf.cdo.eresource.CDOResourceNode">
         <action
               class="org.eclipse.emf.cdo.internal.ui.actions.RemoveResourceActionDelegate"
               icon="icons/full/elcl16/delete_edit.gif"
               id="org.eclipse.emf.cdo.ui.RemoveResource"
               label="%action.label.2"
               tooltip="%action.tooltip.1">
         </action>
	       <enablement>
              <and>
                 <test property="org.eclipse.emf.cdo.object.permissionContainer" value="WRITE"/>
                 <test property="org.eclipse.emf.cdo.object.viewHistorical" value="false"/>
              </and>
	       </enablement>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.eclipse.emf.cdo.ui.CDOResourceNodeContributionsWritable"
            objectClass="org.eclipse.emf.cdo.eresource.CDOResourceNode">
         <action
               class="org.eclipse.emf.cdo.internal.ui.actions.RenameResourceActionDelegate"
               id="org.eclipse.emf.cdo.ui.RenameResource"
               label="%action.label.13"
               tooltip="%action.tooltip.11">
         </action>
	       <enablement>
              <and>
                 <test property="org.eclipse.emf.cdo.object.permission" value="WRITE"/>
                 <test property="org.eclipse.emf.cdo.object.viewHistorical" value="false"/>
              </and>
	       </enablement>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.eclipse.emf.cdo.ui.CDOResourceFolderContributionsWritable"
            objectClass="org.eclipse.emf.cdo.eresource.CDOResourceFolder">
         <action
               class="org.eclipse.emf.cdo.internal.ui.actions.NewBinaryResourceActionDelegate"
               icon="icons/full/elcl16/NewCDOBinaryResource.gif"
               id="org.eclipse.emf.cdo.ui.NewBinaryResource"
               label="%action.label.16"
               tooltip="%action.tooltip.13">
         </action>
         <action
               class="org.eclipse.emf.cdo.internal.ui.actions.NewTextResourceActionDelegate"
               icon="icons/full/elcl16/NewCDOTextResource.gif"
               id="org.eclipse.emf.cdo.ui.NewTextResource"
               label="%action.label.15"
               tooltip="%action.tooltip.12">
         </action>
         <action
               class="org.eclipse.emf.cdo.internal.ui.actions.NewResourceActionDelegate"
               icon="icons/full/elcl16/NewCDOResource.gif"
               id="org.eclipse.emf.cdo.ui.NewResource"
               label="%action.label.3"
               tooltip="%action.tooltip.2">
         </action>
         <action
               class="org.eclipse.emf.cdo.internal.ui.actions.NewResourceFolderActionDelegate"
               icon="icons/full/elcl16/NewCDOResourceFolder.gif"
               id="org.eclipse.emf.cdo.ui.NewResourceFolder"
               label="%action.label.4"
               tooltip="%action.tooltip.3">
         </action>
	       <enablement>
              <and>
                 <test property="org.eclipse.emf.cdo.object.permission" value="WRITE"/>
                 <test property="org.eclipse.emf.cdo.object.viewHistorical" value="false"/>
              </and>
	       </enablement>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.eclipse.emf.cdo.ui.CDOResourceActionContributionReadable"
            objectClass="org.eclipse.emf.cdo.eresource.CDOResource">
         <action
               class="org.eclipse.emf.cdo.internal.ui.actions.ExportResourceActionDelegate"
               icon="icons/full/elcl16/export_wiz.gif"
               id="org.eclipse.emf.cdo.ui.ExportResource"
               label="%action.label.10"
               tooltip="%action.tooltip.14">
         </action>
	       <enablement>
	        		<test property="org.eclipse.emf.cdo.object.readable" value="true"/>
	       </enablement>
      </objectContribution>
   </extension-->
   
</plugin>
