<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="CDO Target" sequenceNumber="104">
<locations>
<location path="${workspace_loc}\.buckminster\tp" type="Directory"/>
</locations>
<environment>
<os>win32</os>
<ws>win32</ws>
<arch>x86_64</arch>
<nl>de_DE</nl>
</environment>
<launcherArgs>
<vmArgs>-Declipse.p2.mirrors=false -Declipse.p2.unsignedPolicy=allow -Xms1024m -Xmx2500m</vmArgs>
</launcherArgs>
</target>
