<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<!--
	<copyright>
	
	Copyright (c) 2004 - 2007 Eike Stepper, Germany.
	All rights reserved.   This program and the accompanying materials
	are made available under the terms of the Eclipse Public License v1.0
	which accompanies this distribution, and is available at
	http://www.eclipse.org/legal/epl-v10.html
	
	Contributors:
	  Eike Stepper - Initial API and implementation
	
	</copyright>
-->

<plugin>

   <extension-point id="persistent_package" name="CDO Persistent Package" schema="schema/persistent_package.exsd"/>

   <extension
         point="org.eclipse.net4j.util.factories">
      <factory
            class="org.eclipse.emf.internal.cdo.protocol.CDOClientProtocolFactory"
            productGroup="org.eclipse.net4j.clientProtocols"
            type="cdo"/>
      <factory
            class="org.eclipse.emf.internal.cdo.CDOSessionFactory"
            productGroup="org.eclipse.emf.cdo.sessions"
            type="cdo"/>
   </extension>
   
   <extension
         point="org.eclipse.net4j.util.elementProcessors">
      <elementProcessor
            class="org.eclipse.emf.internal.cdo.util.ChannelInjector">
      </elementProcessor>
   </extension>

   <extension
  			point="org.eclipse.emf.ecore.generated_package">
     <package 
       		uri="http://www.eclipse.org/emf/CDO/resource/1.0.0" 
       		class="org.eclipse.emf.cdo.eresource.EresourcePackage"
       		genModel="model/resource.genmodel"/> 
   </extension>

   <extension
  			point="org.eclipse.emf.cdo.persistent_package">
     <package 
       		uri="http://www.eclipse.org/emf/CDO/resource/1.0.0"/> 
   </extension>

</plugin>
