<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="org.eclipse.emf.cdo.releng.tasks.decorators.TaskAssigneeLabelDecorator"
            icon="icons/person.gif"
            id="org.eclipse.emf.cdo.releng.tasks.decorator"
            label="Task Assignee"
            lightweight="false"
            location="BOTTOM_RIGHT"
            state="true">
         <enablement>
	           <objectClass
	                 name="org.eclipse.mylyn.tasks.core.ITask">
	           </objectClass>
         </enablement>
         <description>
            Appends the name of the assignee to a task label.
         </description>
      </decorator>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.emf.cdo.releng.tasks.table.TaskTableView"
            icon="icons/table.gif"
            id="org.eclipse.emf.cdo.releng.tasks.table.TaskTableView"
            name="Task Table">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.emf.cdo.releng.tasks.table.PerspectiveFactory"
            icon="icons/table.gif"
            id="org.eclipse.emf.cdo.releng.tasks.table.perspective"
            name="Task Overview">
      </perspective>
   </extension>

</plugin>
