<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
	Copyright (c) 2010-2012 Eike Stepper (Berlin, Germany) and others.
	All rights reserved. This program and the accompanying materials
	are made available under the terms of the Eclipse Public License v1.0
	which accompanies this distribution, and is available at
	http://www.eclipse.org/legal/epl-v10.html

	Contributors:
	  Eike Stepper - initial API and implementation
-->

<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.eclipse.emf.cdo.ui.workspace.CheckoutSourceContribution"
            objectClass="org.eclipse.emf.cdo.location.ICheckoutSource">
         <action
               class="org.eclipse.emf.cdo.ui.internal.workspace.CheckoutAsAction"
               enablesFor="1"
               id="org.eclipse.emf.cdo.ui.workspace.CheckoutAsAction"
               label="Check Out As...">
         </action>
         <action
               class="org.eclipse.emf.cdo.ui.internal.workspace.CheckoutAction"
               enablesFor="1"
               id="org.eclipse.emf.cdo.ui.workspace.CheckoutAction"
               label="Check Out">
         </action>
      </objectContribution>
   </extension>

  <extension
        point="org.eclipse.core.runtime.adapters">
     <factory
           adaptableType="org.eclipse.emf.cdo.workspace.CDOWorkspace"
           class="org.eclipse.emf.cdo.ui.internal.workspace.WorkspacePropertyAdapterFactory">
        <adapter type="org.eclipse.ui.views.properties.IPropertySourceProvider"/>
     </factory>
  </extension>

</plugin>
