<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2008-01-30 08:58:25 estepper Exp $
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eiswind.de/mango" 
       class = "org.eclipse.emf.cdo.tests.mango.MangoPackage"
       genModel = "model/mango.genmodel" /> 
  </extension>

</plugin>
