<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
	Copyright (c) 2011-2013 Eike Stepper (Berlin, Germany) and others.
	All rights reserved. This program and the accompanying materials
	are made available under the terms of the Eclipse Public License v1.0
	which accompanies this distribution, and is available at
	http://www.eclipse.org/legal/epl-v10.html

	Contributors:
	  Eike Stepper - initial API and implementation
-->

<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.eclipse.emf.cdo.releng.winexplorer.contribution"
            objectClass="java.lang.Object">
         <action
               class="org.eclipse.emf.cdo.releng.winexplorer.PromptAction"
               enablesFor="1"
               icon="icons/prompt.gif"
               id="org.eclipse.emf.cdo.releng.PromptAction"
               label="Command Prompt"
               menubarPath="additions"
               state="true"
               style="push"
               tooltip="Open Command Prompt"/>
         <action
               class="org.eclipse.emf.cdo.releng.winexplorer.ExplorerAction"
               enablesFor="1"
               icon="icons/explorer.gif"
               id="org.eclipse.emf.cdo.releng.ExplorerAction"
               label="Windows Explorer"
               menubarPath="additions"
               state="true"
               style="push"
               tooltip="Open Windows Explorer"/>
      </objectContribution>
   </extension>

</plugin>
