<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.5"?>

<target name="CDO 3.0 Baseline">
<locations>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.eclipse.emf.cdo.sdk.feature.group" version="2.0.0.v200906160459"/>
<unit id="org.eclipse.net4j.sdk.feature.group" version="2.0.0.v200906160348"/>
<repository location="http://download.eclipse.org/releases/galileo"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.apache.derby.feature.group" version="10.5.1.200912171633"/>
<unit id="org.h2.jdbc.feature.group" version="1.1.114.200912171633"/>
<unit id="org.hibernate.feature.group" version="3.3.2.200912171633"/>
<unit id="org.hsqldb.feature.group" version="1.8.0.200912171633"/>
<unit id="com.mysql.jdbc.feature.group" version="5.1.7.200912171633"/>
<unit id="org.postgresql.jdbc3.feature.group" version="8.3.603.200912171633"/>
<repository location="http://net4j.sourceforge.net/update"/>
</location>
</locations>
</target>
