<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
	Copyright (c) 2010-2012 Eike Stepper (Berlin, Germany) and others.
	All rights reserved. This program and the accompanying materials
	are made available under the terms of the Eclipse Public License v1.0
	which accompanies this distribution, and is available at
	http://www.eclipse.org/legal/epl-v10.html

	Contributors:
	  Eike Stepper - initial API and implementation
-->

<plugin>
   <extension-point id="org.eclipse.emf.cdo.dawn.genmodel.ui.editors" name="Dawn GenModel Extension Editor" schema="schema/org.eclipse.emf.cdo.dawn.genmodel.ui.editors.exsd"/>

   <extension point="org.eclipse.ui.newWizards">
      <wizard
            id="org.eclipse.emf.cdo.dawn.codegen.dawngenmodel.presentation.DawngenmodelModelWizardID"
            name="%_UI_DawngenmodelModelWizard_label"
            class="org.eclipse.emf.cdo.dawn.codegen.dawngenmodel.presentation.DawngenmodelModelWizard"
            category="org.eclipse.emf.cdo.dawn.ui.category.dawn"
            icon="icons/full/obj16/dawn_16x16.gif">
         <description>%_UI_DawngenmodelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.emf.cdo.dawn.codegen.dawngenmodel.presentation.DawngenmodelEditorID"
            name="%_UI_DawngenmodelEditor_label"
            icon="icons/full/obj16/dawn_16x16.gif"
            extensions="dawngenmodel"
            class="org.eclipse.emf.cdo.dawn.codegen.dawngenmodel.presentation.DawngenmodelEditor"
            contributorClass="org.eclipse.emf.cdo.dawn.codegen.dawngenmodel.presentation.DawngenmodelActionBarContributor">
      </editor>
   </extension>

</plugin>
