<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
	Copyright (c) 2013, 2016 Eike Stepper (Berlin, Germany) and others.
	All rights reserved. This program and the accompanying materials
	are made available under the terms of the Eclipse Public License v1.0
	which accompanies this distribution, and is available at
	http://www.eclipse.org/legal/epl-v10.html

	Contributors:
	  Eike Stepper - initial API and implementation
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated expressions -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.emf.cdo.expressions.presentation.ExpressionsModelWizardID"
            name="%_UI_ExpressionsModelWizard_label"
            class="org.eclipse.emf.cdo.expressions.presentation.ExpressionsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ExpressionsModelFile.gif">
         <description>%_UI_ExpressionsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated expressions -->
      <editor
            id="org.eclipse.emf.cdo.expressions.presentation.ExpressionsEditorID"
            name="%_UI_ExpressionsEditor_label"
            icon="icons/full/obj16/ExpressionsModelFile.gif"
            extensions="expressions"
            class="org.eclipse.emf.cdo.expressions.presentation.ExpressionsEditor"
            contributorClass="org.eclipse.emf.cdo.expressions.presentation.ExpressionsActionBarContributor">
      </editor>
   </extension>

</plugin>
