<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<!--
	Copyright (c) 2004 - 2010 Eike Stepper (Berlin, Germany) and others.
	All rights reserved. This program and the accompanying materials
	are made available under the terms of the Eclipse Public License v1.0
	which accompanies this distribution, and is available at
	http://www.eclipse.org/legal/epl-v10.html

	Contributors:
	  Eike Stepper - initial API and implementation
-->

<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.emf.cdo.ui.ide"
            name="CDO">
      </category>
      <view
            allowMultiple="false"
            category="org.eclipse.emf.cdo.ui.ide"
            class="org.eclipse.emf.cdo.ui.internal.location.RepositoriesView"
            icon="icons/sample.gif"
            id="org.eclipse.emf.cdo.ui.ide.RepositoriesView"
            name="CDO Repositories">
      </view>
   </extension>

</plugin>
