<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2022 Eike Stepper (Loehne, Germany) and others.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
    Eike Stepper - initial API and implementation
-->

<plugin>

   <extension point="org.eclipse.net4j.util.productGroups">
      <productGroup id="org.eclipse.emf.cdo.lm.server.lifecycleManagers" name="%productGroup.name"/>
   </extension>

   <extension point="org.eclipse.net4j.util.factories">
      <factory productGroup="org.eclipse.emf.cdo.lm.server.lifecycleManagers" type="default" class="org.eclipse.emf.cdo.lm.server.XMLLifecycleManager$Factory"/>
      <factory productGroup="org.eclipse.net4j.util.stringConverters" type="cdo.lm.server.lifecycle_manager" class="org.eclipse.emf.cdo.lm.internal.server.LMStringConverter$Factory"/>
      <factory productGroup="org.eclipse.net4j.util.stringConverters" type="cdo.lm.server.repository_type" class="org.eclipse.emf.cdo.lm.internal.server.LMStringConverter$Factory"/>
      <factory productGroup="org.eclipse.net4j.util.stringConverters" type="cdo.lm.server.system_name" class="org.eclipse.emf.cdo.lm.internal.server.LMStringConverter$Factory"/>
      <factory productGroup="org.eclipse.net4j.util.stringConverters" type="cdo.lm.server.module_name" class="org.eclipse.emf.cdo.lm.internal.server.LMStringConverter$Factory"/>
      <factory productGroup="org.eclipse.net4j.util.stringConverters" type="cdo.lm.server.module_type_name" class="org.eclipse.emf.cdo.lm.internal.server.LMStringConverter$Factory"/>
   </extension>
   
   <extension point="org.eclipse.emf.cdo.server.appExtensions">
      <appExtension class="org.eclipse.emf.cdo.lm.server.LMAppExtension"/>
   </extension>

</plugin>
