<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

   <extension
         point="org.eclipse.net4j.util.factories">
      <factory
            productGroup="org.eclipse.emf.cdo.server.repositories"
            type="default"
            class="org.eclipse.emf.cdo.internal.server.RepositoryFactory"/>
      <factory
            productGroup="org.eclipse.net4j.serverProtocols"
            type="cdo"
            class="org.eclipse.emf.cdo.internal.server.protocol.CDOPluginProtocolFactory"/>
   </extension>

</plugin>
