<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

   <extension
         point="org.eclipse.net4j.util.factories">
      <factory
            class="org.eclipse.emf.cdo.internal.server.protocol.CDOServerProtocolFactory"
            productGroup="org.eclipse.net4j.serverProtocols"
            type="cdo"/>
   </extension>

</plugin>
