<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
	Copyright (c) 2004 - 2012 Eike Stepper (Berlin, Germany) and others.
	All rights reserved. This program and the accompanying materials
	are made available under the terms of the Eclipse Public License v1.0
	which accompanies this distribution, and is available at
	http://www.eclipse.org/legal/epl-v10.html

	Contributors:
	  Eike Stepper - initial API and implementation
-->

<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.eclipse.emf.cdo.releng.version.ui.contribution1"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.eclipse.emf.cdo.releng.version.ui.actions.AddNatureAction"
               enablesFor="*"
               id="org.eclipse.emf.cdo.releng.AddNatureAction"
               label="Add Version Management..."
               menubarPath="org.eclipse.ui.projectConfigure/additions"
               state="true"
               style="push"
               tooltip="Add the Version Management builder to the selected project(s)">
         </action>
         <visibility>
            <not>
		            <objectState
		                  name="projectNature"
		                  value="org.eclipse.emf.cdo.releng.version.VersionNature">
		            </objectState>
            </not>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.eclipse.emf.cdo.releng.version.ui.contribution2"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.eclipse.emf.cdo.releng.version.ui.actions.ConfigureBuilderAction"
               enablesFor="*"
               id="org.eclipse.emf.cdo.releng.ConfigureBuilderAction"
               label="Configure Version Management..."
               menubarPath="org.eclipse.ui.projectConfigure/additions"
               state="true"
               style="push"
               tooltip="Configure the Version Management builder of the selected project(s)">
         </action>
         <visibility>
	            <objectState
	                  name="projectNature"
	                  value="org.eclipse.emf.cdo.releng.version.VersionNature">
	            </objectState>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.eclipse.emf.cdo.releng.version.ui.contribution3"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.eclipse.emf.cdo.releng.version.ui.actions.RemoveNatureAction"
               enablesFor="*"
               id="org.eclipse.emf.cdo.releng.RemoveNatureAction"
               label="Remove Version Management"
               menubarPath="org.eclipse.ui.projectConfigure/additions"
               state="true"
               style="push"
               tooltip="Remove the Version Management builder from the selected project(s)">
         </action>
         <visibility>
	            <objectState
	                  name="projectNature"
	                  value="org.eclipse.emf.cdo.releng.version.VersionNature">
	            </objectState>
         </visibility>
      </objectContribution>
   </extension>

   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.eclipse.emf.cdo.releng.version.ui.quickfixes.VersionResolutionGenerator"
            markerType="org.eclipse.emf.cdo.releng.version.VersionProblem">
      </markerResolutionGenerator>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.emf.cdo.releng.version.ui.preferences.VersionBuilderPreferencePage"
            id="org.eclipse.emf.cdo.releng.version.ui.preferences.VersionBuilderPreferencePage"
            name="Version Management">
      </page>
   </extension>

</plugin>
