<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.net4j.ui"
            name="Net4j">
      </category>
      <view
            category="org.eclipse.net4j.ui"
            class="org.eclipse.net4j.internal.ui.views.AcceptorsView"
            icon="icons/full/view16/acceptors.gif"
            id="org.eclipse.net4j.internal.ui.views.AcceptorsView"
            name="Acceptors">
      </view>
      <view
            category="org.eclipse.net4j.ui"
            class="org.eclipse.net4j.internal.ui.views.ConnectorsView"
            icon="icons/full/view16/connectors.gif"
            id="org.eclipse.net4j.internal.ui.views.ConnectorsView"
            name="Connectors">
      </view>
   </extension>

</plugin>
