<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
	Copyright (c) 2007, 2009, 2010, 2012, 2021 Eike Stepper (Loehne, Germany) and others.
	All rights reserved. This program and the accompanying materials
	are made available under the terms of the Eclipse Public License v1.0
	which accompanies this distribution, and is available at
	http://www.eclipse.org/legal/epl-v10.html
	
	Contributors:
	  Eike Stepper - initial API and implementation
-->

<plugin>

   <extension point="org.eclipse.ui.views">
      <category
            id="org.eclipse.net4j"
            name="%category.name">
      </category>
      <view
            category="org.eclipse.net4j"
            class="org.eclipse.net4j.internal.ui.views.AcceptorsView"
            icon="platform:/plugin/org.eclipse.net4j.ui.shared/icons/full/view16/acceptors.gif"
            id="org.eclipse.net4j.AcceptorsView"
            name="%view.name"/>
      <view
            category="org.eclipse.net4j"
            class="org.eclipse.net4j.internal.ui.views.ConnectorsView"
            icon="platform:/plugin/org.eclipse.net4j.ui.shared/icons/full/view16/connectors.gif"
            id="org.eclipse.net4j.ConnectorsView"
            name="%view.name.0"/>
      <view
            category="org.eclipse.net4j"
            class="org.eclipse.net4j.internal.ui.views.ChannelsView"
            icon="platform:/plugin/org.eclipse.net4j.ui.shared/icons/full/view16/channels.gif"
            id="org.eclipse.net4j.ChannelsView"
            name="%view.name.1"/>
   </extension>
   
   <extension point="org.eclipse.net4j.util.factories">
      <factory
            class="org.eclipse.net4j.internal.ui.container.TCPAcceptorWizard$Factory"
            productGroup="org.eclipse.net4j.util.ui.elementWizards"
            type="org.eclipse.net4j.acceptors:tcp"/>
      <factory
            class="org.eclipse.net4j.internal.ui.container.TCPConnectorWizard$Factory"
            productGroup="org.eclipse.net4j.util.ui.elementWizards"
            type="org.eclipse.net4j.connectors:tcp"/>
      <factory
            class="org.eclipse.net4j.internal.ui.container.JVMAcceptorWizard$Factory"
            productGroup="org.eclipse.net4j.util.ui.elementWizards"
            type="org.eclipse.net4j.acceptors:jvm"/>
      <factory
            class="org.eclipse.net4j.internal.ui.container.JVMConnectorWizard$Factory"
            productGroup="org.eclipse.net4j.util.ui.elementWizards"
            type="org.eclipse.net4j.connectors:jvm"/>
   </extension>
   
</plugin>
