<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.net4j.ui"
            name="Net4j">
      </category>
      <view
            category="org.eclipse.net4j.ui"
            class="org.eclipse.net4j.internal.ui.views.Net4jExplorerView"
            icon="icons/sample.gif"
            id="org.eclipse.net4j.internal.ui.views.Net4jExplorerView"
            name="Net4j Explorer">
      </view>
   </extension>

</plugin>
