<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension-point id="containerValues" name="Container Values" schema="schema/containerValues.exsd"/>

   <extension point="org.eclipse.debug.core.logicalStructureProviders">
      <logicalStructureProvider
            class="org.eclipse.emf.cdo.ecore.logicalstructure.EMFLogicalStructureProvider"
            modelIdentifier="org.eclipse.jdt.debug">
      </logicalStructureProvider>
   </extension>

</plugin>
