<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2013 Eike Stepper (Berlin, Germany) and others.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
    Eike Stepper - initial API and implementation
-->

<plugin>
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.emf.cdo.releng.ui.preferences.RelengPreferencePage"
            class="org.eclipse.emf.cdo.releng.preferences.presentation.AllPreferencesPreferencePage"
            id="org.eclipse.emf.cdo.releng.preferences.presentation.AllPreferencesPreferencePage"
            name="All Preferences">
      </page>
   </extension>
   
   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated preferences not -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <category
            id="org.eclipse.emf.cdo.releng"
            name="%_UI_RelengWizard_category"/>
      <wizard
            id="org.eclipse.emf.cdo.releng.preferences.presentation.PreferencesModelWizardID"
            name="%_UI_PreferencesModelWizard_label"
            class="org.eclipse.emf.cdo.releng.preferences.presentation.PreferencesModelWizard"
            category="org.eclipse.emf.cdo.releng"
            icon="icons/full/obj16/PreferencesModelFile.gif">
         <description>%_UI_PreferencesModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated preferences -->
      <editor
            id="org.eclipse.emf.cdo.releng.preferences.presentation.PreferencesEditorID"
            name="%_UI_PreferencesEditor_label"
            icon="icons/full/obj16/PreferencesModelFile.gif"
            extensions="preferences"
            class="org.eclipse.emf.cdo.releng.preferences.presentation.PreferencesEditor"
            contributorClass="org.eclipse.emf.cdo.releng.preferences.presentation.PreferencesActionBarContributor">
      </editor>
   </extension>


   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.eclipse.emf.cdo.releng.preferences.action.OpenEditor"
            objectClass="org.eclipse.emf.cdo.releng.preferences.PreferenceNode">
         <action
               id="org.eclipse.emf.cdo.releng.preferences.action.OpenEditorAction"
               label="Open Editor"
               menubarPath="additions"
               class="org.eclipse.emf.cdo.releng.preferences.presentation.actions.OpenEditorAction"
               enablesFor="1"/>
      </objectContribution>
   </extension>
   
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.eclipse.emf.cdo.releng.preferences.action.ShowInExplorer"
            objectClass="org.eclipse.emf.cdo.releng.preferences.PreferenceNode">
         <action
               id="org.eclipse.emf.cdo.releng.preferences.action.ShowInExplorerAction"
               label="Show in Package Explorer"
               menubarPath="additions"
               class="org.eclipse.emf.cdo.releng.preferences.presentation.actions.ShowInExplorerAction"
               enablesFor="1"/>
      </objectContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.emf.cdo.releng.preferences.presentation.handlers.NavigateHandler"
            commandId="org.eclipse.emf.cdo.releng.preferences.editor.commands.Navigate">
      </handler>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.emf.cdo.releng.preferences.editor.commands.category"
            name="Project Preference Management">
      </category>
      <command
            categoryId="org.eclipse.emf.cdo.releng.preferences.editor.commands.category"
            id="org.eclipse.emf.cdo.releng.preferences.editor.commands.Navigate"
            name="Navigate">
      </command>
   </extension>
   
   <extension point="org.eclipse.ui.contexts">
      <context
         description="Editing Project Configuration Preferences"
         id="org.eclipse.emf.cdo.releng.preferences.editor.context"
         name="Editing Project Configuration Preferences"
         parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.emf.cdo.releng.preferences.editor.commands.Navigate"
            contextId="org.eclipse.emf.cdo.releng.preferences.editor.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F3">
      </key>
   </extension>
   
</plugin>
