<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
	Copyright (c) 2010-2012, 2022 Eike Stepper (Loehne, Germany) and others.
	All rights reserved. This program and the accompanying materials
	are made available under the terms of the Eclipse Public License v1.0
	which accompanies this distribution, and is available at
	http://www.eclipse.org/legal/epl-v10.html

	Contributors:
	  Martin Fluegge - initial API and implementation
-->
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.emf.cdo.dawn.ui"
            name="%category.name">
      </category>
      <view
            category="org.eclipse.emf.cdo.dawn.ui"
            class="org.eclipse.emf.cdo.dawn.ui.views.DawnExplorer"
            icon="icons/dawn_16x16.gif"
            id="org.eclipse.emf.cdo.dawn.ui.views.DawnExplorer"
            name="%view.name">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.cdo.dawn.ui.category.examples"
            name="%category.name.0">
      </category>
      <category
            id="org.eclipse.emf.cdo.dawn.ui.category.dawn"
            name="%category.name.1">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.emf.cdo.dawn.ui.handlers.LockObjectsHandler"
            id="org.eclipse.emf.cdo.dawn.ui.lockobjects"
            name="%command.name">
      </command>
      <command
            defaultHandler="org.eclipse.emf.cdo.dawn.ui.handlers.UnLockObjectsHandler"
            id="org.eclipse.emf.cdo.dawn.ui.unlockobjects"
            name="%command.name.0">
      </command>
   </extension>
  <extension
          point="org.eclipse.ui.menus">
             <menuContribution
                   locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               label="%menu.label">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePart">
                  <instanceof
                        value="org.eclipse.emf.cdo.dawn.editors.IDawnEditor">
                  </instanceof>
               </with>
            </visibleWhen>
            <command
                  commandId="org.eclipse.emf.cdo.dawn.ui.lockobjects"
                  label="%command.label"
                  mnemonic="%contributions.view.refresh.mnemonic">
            </command>
                   <command
                  commandId="org.eclipse.emf.cdo.dawn.ui.unlockobjects"
                  label="%command.label.0"
                  mnemonic="%contributions.view.refresh.mnemonic">
            </command>
         </menu>
      </menuContribution>

    </extension>
        <extension
          point="org.eclipse.ui.menus">
             <menuContribution
                   locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               label="%menu.label.0">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePart">
                  <instanceof
                        value="org.eclipse.emf.cdo.dawn.editors.IDawnEditor">
                  </instanceof>
               </with>
            </visibleWhen>
            <command
                  commandId="org.eclipse.emf.cdo.dawn.commands.solveconflict"
                  label="%command.label.1"
                  mnemonic="%contributions.view.refresh.mnemonic">
            </command>
         </menu>
      </menuContribution>

    </extension>
    <extension
          point="org.eclipse.ui.commands">
       <command
             id="org.eclipse.emf.cdo.dawn.commands.solveconflict"
             name="%command.name.1">
       </command>
    </extension>
    <extension
          point="org.eclipse.ui.handlers">
       <handler
             class="org.eclipse.emf.cdo.dawn.ui.handlers.SolveConflictHandler"
             commandId="org.eclipse.emf.cdo.dawn.commands.solveconflict">
       </handler>
    </extension>
</plugin>
