<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<!--
	<copyright>
	
	Copyright (c) 2004 - 2007 Eike Stepper, Germany.
	All rights reserved. This program and the accompanying materials
	are made available under the terms of the Eclipse Public License v1.0
	which accompanies this distribution, and is available at
	http://www.eclipse.org/legal/epl-v10.html
	
	Contributors:
	  Eike Stepper - Initial API and implementation
	
	</copyright>
-->

<plugin>

   <extension-point id="facilityPaneCreators" name="Facility Pane Creators" schema="schema/facilityPaneCreators.exsd"/>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.net4j.buddies.internal.ui.preferences.BuddiesPreferencePage"
            id="org.eclipse.net4j.buddies.ui.preferences.BuddiesPreferencePage"
            name="Buddies">
      </page>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.net4j"
            name="Net4j"/>
      <view
            category="org.eclipse.net4j"
            class="org.eclipse.net4j.buddies.internal.ui.views.BuddiesView"
            icon="icons/full/view16/buddies_view.gif"
            id="org.eclipse.net4j.BuddiesView"
            name="Buddies"/>
      <view
            category="org.eclipse.net4j"
            class="org.eclipse.net4j.buddies.internal.ui.views.CollaborationsView"
            icon="icons/full/view16/collaborations_view.gif"
            id="org.eclipse.net4j.CollaborationsView"
            name="Collaborations"/>
   </extension>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="org.eclipse.net4j.BuddiesView"
               ratio="1"
               relationship="stack"
               relative="org.eclipse.ui.views.ContentOutline">
         </view>
      </perspectiveExtension>
   </extension>
   
</plugin>
