<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<!--
Copyright (c) 2004 - 2010 Eike Stepper (Berlin, Germany) and others.
All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html

Contributors:
Eike Stepper - initial API and implementation
-->

<plugin>

	<extension point="org.eclipse.rap.ui.entrypoint" id="org.eclipse.emf.cdo.examples.server.rap.DemoApplication">
		<entrypoint class="org.eclipse.emf.cdo.examples.server.rap.DemoEntryPoint"
			id="org.eclipse.emf.cdo.examples.server.rap.Application" parameter="server"/>
	</extension>

	<extension point="org.eclipse.ui.perspectives">
		<perspective name="Perspective" class="org.eclipse.emf.cdo.examples.server.rap.DemoPerspective"
			id="org.eclipse.emf.cdo.examples.server.rap.perspective">
		</perspective>
	</extension>

	<extension point="org.eclipse.ui.views">
		<view name="View" class="org.eclipse.emf.cdo.examples.server.rap.DemoView"
			id="org.eclipse.emf.cdo.examples.server.rap.view">
		</view>
	</extension>

	<extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID="org.eclipse.emf.cdo.examples.server.rap.perspective">
			<view closeable="false" id="org.eclipse.emf.cdo.examples.server.rap.view" minimized="false" moveable="false"
				relationship="left" relative="org.eclipse.ui.editorss" showTitle="false" standalone="true" visible="true">
			</view>
		</perspectiveExtension>
	</extension>

	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="menu:org.eclipse.ui.main.menu">
			<menu label="File">
				<command commandId="org.eclipse.ui.file.exit" label="Exit">
				</command>
			</menu>
		</menuContribution>
	</extension>
 <extension
       point="org.eclipse.rap.ui.branding">
    <branding
          defaultEntrypointId="org.eclipse.emf.cdo.examples.server.rap.Application"
          id="org.eclipse.emf.cdo.examples.server.rap.branding1"
          servletName="demo"
          title="CDO Demo Server">
    </branding>
 </extension>

</plugin>
