<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
	Copyright (c) 2012, 2013, 2015 Eike Stepper (Loehne, Germany) and others.
	All rights reserved. This program and the accompanying materials
	are made available under the terms of the Eclipse Public License v1.0
	which accompanies this distribution, and is available at
	http://www.eclipse.org/legal/epl-v10.html

	Contributors:
	  Eike Stepper - initial API and implementation
	  Christian W. Damus (CEA LIST) - bug 418454
-->

<plugin>

   <extension point="org.eclipse.net4j.util.productGroups">
     <productGroup id="org.eclipse.emf.cdo.server.admin.adminServers" name="CDO Administration Servers"/>
     <productGroup id="org.eclipse.emf.cdo.server.admin.adminHandlers" name="CDO Administration Handlers"/>
     <productGroup id="org.eclipse.emf.cdo.server.admin.repositoryConfigurationManagers" name="CDO Repository Configuration Managers"/>
   </extension>

 	<extension point="org.eclipse.net4j.util.factories">
		<factory
        	productGroup="org.eclipse.net4j.serverProtocols"
          type="cdo-admin"
          class="org.eclipse.emf.cdo.server.internal.admin.protocol.CDOAdminServerProtocol$Factory$Plugin"/>
		<factory
        	productGroup="org.eclipse.emf.cdo.server.admin.adminServers"
          type="default"
          class="org.eclipse.emf.cdo.server.internal.admin.CDOAdminServer$Factory$Plugin"/>
    <factory
          productGroup="org.eclipse.emf.cdo.server.admin.repositoryConfigurationManagers"
          type="default"
          class="org.eclipse.emf.cdo.server.internal.admin.DefaultCDORepositoryConfigurationManager$Factory"/>
    <factory
          productGroup="org.eclipse.emf.cdo.server.admin.adminHandlers"
          type="default"
          class="org.eclipse.emf.cdo.server.internal.admin.DefaultCDOAdminHandler$Factory"/>
 	 </extension>

   <extension point="org.eclipse.emf.cdo.server.appExtensions">
      <appExtension class="org.eclipse.emf.cdo.server.internal.admin.RepositoryConfigurationManagerExtension"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated catalog -->
      <package
            uri="http://www.eclipse.org/emf/CDO/admin/RepositoryCatalog/4.3.0"
            class="org.eclipse.emf.cdo.server.internal.admin.catalog.CatalogPackage"
            genModel="model/catalog.genmodel"/>
   </extension>

</plugin>
