<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
	Copyright (c) 2006-2008, 2012, 2020 Eike Stepper (Loehne, Germany) and others.
	All rights reserved. This program and the accompanying materials
	are made available under the terms of the Eclipse Public License 2.0
	which is available at https://www.eclipse.org/legal/epl-2.0
	
	SPDX-License-Identifier: EPL-2.0
	
	Contributors:
	  Eike Stepper - initial API and implementation
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.fernuni-hagen.de/ST/dummy/base.ecore" 
       class = "base.BasePackage"
       genModel = "model/base.genmodel" />
    <package
          class="derived.DerivedPackage"
          genModel="model/derived.genmodel"
          uri="http://www.fernuni-hagen.de/ST/dummy/derived.ecore">
    </package>
    <package
          class="reference.ReferencePackage"
          genModel="model/reference.genmodel"
          uri="uuid://reference">
    </package>
    <package
          class="interface_.InterfacePackage"
          genModel="model/interface.genmodel"
          uri="uuid://interface">
    </package> 
  </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Testmodel_562011 -->
      <package
            uri="platform:/resource/org.eclipse.emf.cdo.tests/model_562011/Testmodel_562011.xsd"
            class="Testmodel562011.Testmodel562011Package"
            genModel="model/Testmodel_562011.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated Testmodel_562011 -->
      <parser
            type="testmodel562011"
            class="Testmodel562011.util.Testmodel562011ResourceFactoryImpl"/>
   </extension>
</plugin>
