<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/emf/cdo/2006/TestModel1" 
       class = "testmodel1.TestModel1Package"
       genModel = "model/TestModel1.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.cdo.client.mappings">
    <mapping
       map="META-INF/TestModel1.mapping"
       uri="http://www.eclipse.org/emf/cdo/2006/TestModel1"/>
  </extension>

</plugin>

