<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/ARTICLE/1.0"
            class="org.eclipse.emf.cdo.releng.doc.article.ArticlePackage"
            genModel="model/article.genmodel"/>
   </extension>

</plugin>
