<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
	Copyright (c) 2010-2012, 2022 Eike Stepper (Loehne, Germany) and others.
	All rights reserved. This program and the accompanying materials
	are made available under the terms of the Eclipse Public License v1.0
	which accompanies this distribution, and is available at
	http://www.eclipse.org/legal/epl-v10.html

	Contributors:
	  Eike Stepper - initial API and implementation
-->

<plugin>

   <extension point="org.eclipse.net4j.util.productGroups">
       <productGroup id="org.eclipse.emf.cdo.workspace.bases" name="CDO Workspace Bases"/>
   </extension>

   <extension point="org.eclipse.net4j.util.factories">
      <factory
            class="org.eclipse.emf.cdo.internal.workspace.FolderCDOWorkspaceBase$Factory"
            productGroup="org.eclipse.emf.cdo.workspace.bases"
            type="folder"/>
   </extension>

   <extension point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
         id="org.eclipse.emf.cdo.workspace.properties"
         type="org.eclipse.emf.cdo.workspace.CDOWorkspace"
         namespace="org.eclipse.emf.cdo.workspace"
         properties="open,branchPath,timeStamp,fixed,dirty,idGenerationLocation,base,local,remote"
         class="org.eclipse.emf.cdo.internal.workspace.WorkspaceProperties$Tester"/>
   </extension>

</plugin>
