<?xml version="1.0" encoding="UTF-8"?><plugin name="CDO Model Repository" id="CDO" version="1.0" provider-name="DITA"><requires><import plugin="org.dita.dost.contentProducer"/></requires><extension point="org.eclipse.help.toc"><toc file="CDO.xml" primary="true"/></extension><extension point="org.eclipse.help.contentProducer"><contentProducer producer="org.dita.dost.ContentProducer"/></extension></plugin>