<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "../../org.eclipse.net4j.util/config/log4j.dtd">
<log4j:configuration debug="false" xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="LOGFACTOR" class="org.apache.log4j.lf5.LF5Appender">
		<param name="MaxNumberOfRecords" value="1000"/>
	</appender>

	<appender name="GANYMEDE" class="org.apache.log4j.net.SocketAppender">
		<param name="RemoteHost" value="localhost"/>
		<param name="Port" value="4445"/>
		<param name="LocationInfo" value="true"/>
	</appender>

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%p] %c: %m%n"/>
		</layout>
	</appender>

	<appender name="FILE" class="org.apache.log4j.FileAppender">
		<param name="File" value="densityd.log"/>
		<param name="Append" value="false"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%p] %c: %m%n"/>
		</layout>
	</appender>

	<category name="org.eclipse.net4j.spring.impl.ContainerImpl">
		<priority value="warn"/>
	</category>

	<category name="org.eclipse.net4j.util.fsm.StateMachine">
		<priority value="warn"/>
	</category>

	<category name="org.eclipse.net4j.core.impl.ChannelImpl$ClientStateMachine">
		<priority value="warn"/>
	</category>

	<category name="org.eclipse.net4j.core.impl.ChannelImpl$ServerStateMachine">
		<priority value="warn"/>
	</category>

	<category name="org.springframework">
		<priority value="warn"/>
	</category>

	<category name="org.springframework.jdbc">
		<priority value="error"/>
	</category>

	<root>
		<priority value="info"/>
		<!--
		<appender-ref ref="LOGFACTOR" />
		<appender-ref ref="FILE"/>
		-->
		<appender-ref ref="CONSOLE"/>
	</root>

</log4j:configuration>
