<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
	Copyright (c) 2007, 2009, 2010, 2012, 2013, 2016, 2022 Eike Stepper (Loehne, Germany) and others.
	All rights reserved. This program and the accompanying materials
	are made available under the terms of the Eclipse Public License v1.0
	which accompanies this distribution, and is available at
	http://www.eclipse.org/legal/epl-v10.html
	
	Contributors:
	  Eike Stepper - initial API and implementation
	  Christian W. Damus (CEA LIST) - bug 418454
-->

<plugin>

  <extension point="org.eclipse.net4j.util.productGroups">
     <productGroup id="org.eclipse.net4j.util.ui.elementWizards" name="%productGroup.name"/>
     <productGroup id="org.eclipse.net4j.util.ui.menuFillers" name="%productGroup.name.0"/>
     <productGroup id="org.eclipse.net4j.util.ui.introspectionProviders" name="%productGroup.name.1"/>
     <productGroup id="org.eclipse.net4j.util.ui.valueFormatters" name="%productGroup.name.2"/>
     <productGroup id="org.eclipse.net4j.util.ui.openHandlers" name="%productGroup.name.3"/>
     <productGroup id="org.eclipse.net4j.util.ui.entryControlAdvisors" name="%productGroup.name.4"/>
     <productGroup id="org.eclipse.net4j.util.ui.chatRenderers" name="%productGroup.name.5"/>
  </extension>

  <extension point="org.eclipse.net4j.util.factories">
      <factory
            productGroup="org.eclipse.net4j.util.security.credentialsProviders"
            type="interactive"
            class="org.eclipse.net4j.util.internal.ui.InteractiveCredentialsProviderFactory"/>
      <factory
            productGroup="org.eclipse.net4j.util.confirmationProviders"
            type="interactive"
            class="org.eclipse.net4j.util.ui.confirmation.InteractiveConfirmationProvider$Factory"/>
      <factory
            productGroup="org.eclipse.net4j.util.concurrent.delegateDetectors"
            type="display"
            class="org.eclipse.net4j.util.internal.ui.DisplayDelegateDetector$Factory"/>
      <factory
            productGroup="org.eclipse.net4j.util.ui.entryControlAdvisors"
            type="default"
            class="org.eclipse.net4j.util.ui.EntryControlAdvisor$Factory"/>
      <factory
            productGroup="org.eclipse.net4j.util.ui.chatRenderers"
            type="default"
            class="org.eclipse.net4j.util.ui.chat.ChatRenderer$Factory"/>
      <simpleFactory
            productGroup="org.eclipse.net4j.util.ui.introspectionProviders"
            type="java.lang.Iterable"
            productClass="org.eclipse.net4j.util.internal.ui.views.IterableIntrospectionProvider"/>
      <simpleFactory
            productGroup="org.eclipse.net4j.util.ui.introspectionProviders"
            type="java.util.Map"
            productClass="org.eclipse.net4j.util.internal.ui.views.MapIntrospectionProvider"/>
  </extension>
   
  <extension point="org.eclipse.ui.views">
      <category
            id="org.eclipse.net4j.debug"
            name="%category.name"/>
      <view
            category="org.eclipse.net4j.debug"
            id="org.eclipse.net4j.util.Net4jContainerView"
            class="org.eclipse.net4j.util.internal.ui.views.Net4jContainerView"
            name="%view.name"
            icon="platform:/plugin/org.eclipse.net4j.ui.shared/icons/full/view16/container.gif"/>
      <view
            category="org.eclipse.net4j.debug"
            id="org.eclipse.net4j.util.Net4jIntrospectorView"
            class="org.eclipse.net4j.util.internal.ui.views.Net4jIntrospectorView"
            name="%view.name.0"
            icon="platform:/plugin/org.eclipse.net4j.ui.shared/icons/full/view16/javabean.gif"/>
  </extension>
   
</plugin>
