<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Net4j Debug"
            id="org.eclipse.net4j.debug">
      </category>
      <view
            name="Remote Traces"
            icon="icons/sample.gif"
            category="org.eclipse.net4j.debug"
            class="org.eclipse.net4j.internal.debug.views.RemoteTraceView"
            id="org.eclipse.net4j.debug.RemoteTraceView">
      </view>
      <view
            name="Introspector"
            icon="icons/sample.gif"
            category="org.eclipse.net4j.debug"
            class="org.eclipse.net4j.internal.debug.views.IntrospectorView"
            id="org.eclipse.net4j.debug.IntrospectorView">
      </view>
   </extension>
   
</plugin>
