<?xml version="1.0" encoding="UTF-8"?>
<project>
  <actions/>
  <description>Integration build using Buckminster.&lt;br&gt;
Monitoring CVS HEAD every 2 hours for changes:&lt;p&gt;
&lt;a href="http://dev.eclipse.org/viewcvs/index.cgi/org.eclipse.emf/org.eclipse.emf.cdo/?root=Modeling_Project"&gt;&lt;img src="http://www.eclipse.org/cdo/images/Logo-CDO.png" width="128" heigth="80"/&gt;&lt;/a&gt;
&amp;nbsp;&amp;nbsp;&amp;nbsp;
&lt;a href="http://dev.eclipse.org/viewcvs/index.cgi/org.eclipse.emf/org.eclipse.emf.net4j/?root=Modeling_Project"&gt;&lt;img src="http://www.eclipse.org/cdo/images/Logo-Net4j.png" width="167" heigth="80"/&gt;&lt;/a&gt;
&lt;p&gt;
Successful builds produce a consumable &lt;b&gt;&lt;a href="https://hudson.eclipse.org/hudson/job/emf-cdo-integration/lastSuccessfulBuild/artifact/result/site.p2"&gt;p2 repository&lt;/a&gt;&lt;/b&gt;.&lt;br&gt;
If you encounter issues with this build contact &lt;a href="mailto:michal.ruzicka@cloudsmith.com?subject=emf-cdo-integration"&gt;Michal Růžička&lt;/a&gt;.&lt;br&gt;
All builds are announced via &lt;a href="https://twitter.com/cdobuilds"&gt;Twitter&lt;/a&gt;.&lt;br&gt;
See also the &lt;a href="https://hudson.eclipse.org/hudson/job/emf-cdo-maintenance"&gt;maintenance build&lt;/a&gt;.
</description>
  <logRotator>
    <daysToKeep>14</daysToKeep>
    <numToKeep>10</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>hudson.model.Item.Workspace:anonymous</permission>
      <permission>hudson.model.Item.Workspace:mruzicka</permission>
      <permission>hudson.model.Item.Workspace:cdegroot</permission>
      <permission>hudson.model.Item.Workspace:estepper</permission>
      <permission>hudson.model.Item.Workspace:isallam</permission>
      <permission>hudson.model.Item.Workspace:swinkler</permission>
      <permission>hudson.model.Item.Workspace:adietisheim</permission>
      <permission>hudson.model.Item.Workspace:evaisnora</permission>
      <permission>hudson.model.Item.Workspace:mfluegge</permission>
      <permission>hudson.model.Item.Workspace:vroldanbet</permission>
      <permission>hudson.model.Item.Workspace:mtaal</permission>
      <permission>hudson.model.Run.Delete:mruzicka</permission>
      <permission>hudson.model.Run.Delete:estepper</permission>
      <permission>hudson.model.Item.ExtendedRead:mruzicka</permission>
      <permission>hudson.model.Item.ExtendedRead:cdegroot</permission>
      <permission>hudson.model.Item.ExtendedRead:estepper</permission>
      <permission>hudson.model.Item.ExtendedRead:isallam</permission>
      <permission>hudson.model.Item.ExtendedRead:swinkler</permission>
      <permission>hudson.model.Item.ExtendedRead:adietisheim</permission>
      <permission>hudson.model.Item.ExtendedRead:evaisnora</permission>
      <permission>hudson.model.Item.ExtendedRead:mfluegge</permission>
      <permission>hudson.model.Item.ExtendedRead:vroldanbet</permission>
      <permission>hudson.model.Item.ExtendedRead:mtaal</permission>
      <permission>hudson.model.Run.Update:mruzicka</permission>
      <permission>hudson.model.Run.Update:estepper</permission>
      <permission>hudson.model.Item.Configure:mruzicka</permission>
      <permission>hudson.model.Item.Configure:estepper</permission>
      <permission>hudson.model.Item.Read:anonymous</permission>
      <permission>hudson.model.Item.Read:mruzicka</permission>
      <permission>hudson.model.Item.Read:cdegroot</permission>
      <permission>hudson.model.Item.Read:estepper</permission>
      <permission>hudson.model.Item.Read:isallam</permission>
      <permission>hudson.model.Item.Read:swinkler</permission>
      <permission>hudson.model.Item.Read:adietisheim</permission>
      <permission>hudson.model.Item.Read:evaisnora</permission>
      <permission>hudson.model.Item.Read:mfluegge</permission>
      <permission>hudson.model.Item.Read:vroldanbet</permission>
      <permission>hudson.model.Item.Read:mtaal</permission>
      <permission>hudson.model.Item.Delete:estepper</permission>
      <permission>hudson.model.Item.Build:mruzicka</permission>
      <permission>hudson.model.Item.Build:cdegroot</permission>
      <permission>hudson.model.Item.Build:estepper</permission>
      <permission>hudson.model.Item.Build:isallam</permission>
      <permission>hudson.model.Item.Build:swinkler</permission>
      <permission>hudson.model.Item.Build:adietisheim</permission>
      <permission>hudson.model.Item.Build:evaisnora</permission>
      <permission>hudson.model.Item.Build:mfluegge</permission>
      <permission>hudson.model.Item.Build:vroldanbet</permission>
      <permission>hudson.model.Item.Build:mtaal</permission>
    </hudson.security.AuthorizationMatrixProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>BUCKMINSTER_LOGLEVEL</name>
          <description/>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>INFO</string>
              <string>WARNING</string>
              <string>ERROR</string>
              <string>DEBUG</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>CLEAN_TOOLS</name>
          <description/>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>CLEAN_TP</name>
          <description/>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>CLEAN_WORKSPACE</name>
          <description/>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>CLEAN_OUTPUT</name>
          <description/>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>BUILD_TYPE</name>
          <description/>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string> </string>
              <string>N</string>
              <string>I</string>
              <string>S</string>
              <string>R</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>BUILD_TARGET</name>
          <description/>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>test</string>
              <string>site.p2</string>
              <string>provision</string>
              <string>promote.sites</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>SITE_PACK200</name>
          <description/>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.disk__usage.DiskUsageProperty/>
  </properties>
  <scm class="hudson.scm.CVSSCM">
    <cvsroot>:local:/cvsroot/modeling</cvsroot>
    <module>org.eclipse.emf/org.eclipse.emf.cdo/features
org.eclipse.emf/org.eclipse.emf.cdo/plugins
org.eclipse.emf/org.eclipse.emf.cdo/releng</module>
    <canUseUpdate>true</canUseUpdate>
    <flatten>false</flatten>
    <isTag>false</isTag>
    <excludedRegions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(Default)</jdk>
  <triggers class="vector">
    <hudson.triggers.TimerTrigger>
      <spec>10 4 * * 5</spec>
    </hudson.triggers.TimerTrigger>
    <hudson.triggers.SCMTrigger>
      <spec>0 */2 * * *</spec>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Ant>
      <targets>$BUILD_TARGET</targets>
      <antName>apache-ant-1.7.1</antName>
      <buildFile>org.eclipse.emf/org.eclipse.emf.cdo/releng/org.eclipse.emf.cdo.releng/build.xml</buildFile>
      <properties>server.build=true
build.id=$BUILD_TAG
org.eclipse.update.jarprocessor.pack200=/shared/common/jdk-1.5.0-22.x86_64/bin</properties>
    </hudson.tasks.Ant>
    <hudson.tasks.Shell>
      <command>rm -rf result/site.p2
cp -a result/workspace/_temp/org.eclipse.emf.cdo.site_*-eclipse.feature/site.p2 result</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>result/build-info.xml,result/site.p2/**</artifacts>
      <latestOnly>false</latestOnly>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.junit.JUnitResultArchiver>
      <testResults>result/testReport.xml</testResults>
      <keepLongStdio>false</keepLongStdio>
      <testDataPublishers/>
    </hudson.tasks.junit.JUnitResultArchiver>
    <hudson.plugins.emailext.ExtendedEmailPublisher>
      <recipientList>stepper@esc-net.de, stefan@winklerweb.net, vroldan@opencanarias.com, andre.dietisheim@gmail.com, ibrahim.sallam@objectivity.com, martin.fluegge@gmx.de, caspar_d@nomagicasia.com, egiva@nomagic.com, michal.ruzicka@cloudsmith.com</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.UnstableTrigger>
          <email>
            <recipientList/>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <sendToDevelopers>true</sendToDevelopers>
            <includeCulprits>true</includeCulprits>
            <sendToRecipientList>true</sendToRecipientList>
          </email>
        </hudson.plugins.emailext.plugins.trigger.UnstableTrigger>
        <hudson.plugins.emailext.plugins.trigger.FailureTrigger>
          <email>
            <recipientList/>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <sendToDevelopers>true</sendToDevelopers>
            <includeCulprits>true</includeCulprits>
            <sendToRecipientList>true</sendToRecipientList>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FailureTrigger>
        <hudson.plugins.emailext.plugins.trigger.FixedTrigger>
          <email>
            <recipientList/>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <sendToDevelopers>true</sendToDevelopers>
            <includeCulprits>false</includeCulprits>
            <sendToRecipientList>true</sendToRecipientList>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FixedTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>$DEFAULT_SUBJECT</defaultSubject>
      <defaultContent>$DEFAULT_CONTENT</defaultContent>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
  </publishers>
  <buildWrappers/>
</project>