<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.2 2008-12-31 14:43:19 estepper Exp $
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/NET4J/util/defs/1.0.0"
            class="org.eclipse.net4j.defs.Net4jDefsPackage"
            genModel="model/org.eclipse.net4j.defs.genmodel"/>
   </extension>

</plugin>
