<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.cdo.dawn.elementstylizerfactory">
      <DawnElementStylizerFactory
            factory="org.eclipse.emf.cdo.dawn.gmf.stylizer.DawnGMFElementStylizerFactory"
            priority="1 - Lowest">
      </DawnElementStylizerFactory>
   </extension>

</plugin>
