<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>

   <extension
         point="org.eclipse.net4j.util.factories">
      <factory
            class="org.eclipse.internal.net4j.ExecutorServiceFactory"
            productGroup="org.eclipse.net4j.executorServices"
            type="default"/>
      <factory
            class="org.eclipse.internal.net4j.BufferProviderFactory"
            productGroup="org.eclipse.net4j.bufferProviders"
            type="default"/>
   </extension>
   
   <extension
         point="org.eclipse.net4j.util.elementProcessors">
      <elementProcessor
            class="org.eclipse.internal.net4j.Net4jTransportInjector">
      </elementProcessor>
   </extension>

</plugin>
