<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
	Copyright (c) 2013, 2015 Eike Stepper (Loehne, Germany) and others.
	All rights reserved. This program and the accompanying materials
	are made available under the terms of the Eclipse Public License v1.0
	which accompanies this distribution, and is available at
	http://www.eclipse.org/legal/epl-v10.html

	Contributors:
	  Christian W. Damus (CEA LIST) - initial API and implementation
-->

<plugin>

   <extension point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.emf.cdo.security.internal.ui.editor.CDOSecurityFormEditor"
            contributorClass="org.eclipse.emf.cdo.security.internal.ui.editor.CDOSecurityFormActionBarContributor"
            default="false"
            icon="icons/full/obj16/SecurityRealmResource.png"
            id="org.eclipse.emf.cdo.security.ui.CDOSecurityFormEditor"
            name="%editor.name"/>
   </extension>

   <extension point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.emf.cdo.security.ui.management" 
            name="%category.name"/>
      <command
            id="org.eclipse.emf.cdo.security.ui.resetPassword"
            categoryId="org.eclipse.emf.cdo.security.ui.management"
            name="%command.name"
            description="%command.description"
            defaultHandler="org.eclipse.emf.cdo.security.internal.ui.handlers.ResetPasswordHandler"/>
      <command
            id="org.eclipse.emf.cdo.security.ui.openEditor"
            name="%action.label.1"
            categoryId="org.eclipse.emf.cdo.security.ui.management"
            defaultHandler="org.eclipse.emf.cdo.security.internal.ui.handlers.ManageSecurityHandler"/>
   </extension>

   <extension point="org.eclipse.ui.handlers">
      <handler
            commandId="org.eclipse.emf.cdo.security.ui.openEditor"
            class="org.eclipse.emf.cdo.security.internal.ui.handlers.ManageSecurityHandler$Sessionless">
         <activeWhen>
            <with variable="activeMenuSelection">
               <iterate ifEmpty="false">
                  <adapt type="org.eclipse.emf.cdo.admin.CDOAdminClientRepository"/>
               </iterate>
            </with>
         </activeWhen>
      </handler>
   </extension>
   
   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.eclipse.ui.popup.any?after=group.security">
         <command
               id="org.eclipse.emf.cdo.security.ui.ResetPasswordCommand"
               commandId="org.eclipse.emf.cdo.security.ui.resetPassword"
               label="%action.label"
               tooltip="%action.tooltip"
               style="push">
            <visibleWhen checkEnabled="false">
               <with variable="activeMenuSelection">
                  <count value="1"/>
                  <iterate>
                     <adapt type="org.eclipse.emf.cdo.security.User"/>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.cdo.security.ui.openEditor"
               icon="$nl$/icons/full/ctool16/ManageSecurity.png"
               label="%action.label.1"
               style="push">
            <visibleWhen checkEnabled="false">
               <with variable="activeMenuSelection">
                  <count value="1"/>
                  <iterate>
                     <or>
                        <adapt type="org.eclipse.emf.cdo.session.CDOSession">
                           <test property="org.eclipse.emf.cdo.session.userAuthenticated"/>
                        </adapt>
                        <adapt type="org.eclipse.emf.cdo.admin.CDOAdminClientRepository"/>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
