<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
	Copyright (c) 2008, 2012, 2020 Eike Stepper (Loehne, Germany) and others.
	All rights reserved. This program and the accompanying materials
	are made available under the terms of the Eclipse Public License v1.0
	which accompanies this distribution, and is available at
	http://www.eclipse.org/legal/epl-v10.html
	
	Contributors:
	  Eike Stepper - initial API and implementation
-->

<plugin>

   <extension
         point="org.eclipse.net4j.util.factories">
      <factory
            class="org.eclipse.net4j.http.internal.server.HTTPAcceptor$DescriptionParserFactory"
            productGroup="org.eclipse.net4j.acceptorDescriptionParsers"
            type="jvm"/>
      <factory
            class="org.eclipse.net4j.http.internal.server.HTTPAcceptorFactory"
            productGroup="org.eclipse.net4j.acceptors"
            type="http"/>
   </extension>
   
   <extension
         point="org.eclipse.net4j.util.elementProcessors">
      <elementProcessor
            class="org.eclipse.net4j.http.internal.server.RandomizerInjector">
      </elementProcessor>
   </extension>
   
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/net4j"
            class="org.eclipse.net4j.http.internal.server.Net4jTransportServlet$ContainerAware"
            load-on-startup="true"/>
   </extension>

</plugin>
