<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
	Copyright (c) 2004 - 2012 Eike Stepper (Berlin, Germany) and others.
	All rights reserved. This program and the accompanying materials
	are made available under the terms of the Eclipse Public License v1.0
	which accompanies this distribution, and is available at
	http://www.eclipse.org/legal/epl-v10.html

	Contributors:
	  Eike Stepper - initial API and implementation
-->

<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.eclipse.emf.cdo.releng.gitbash.contribution1"
            objectClass="org.eclipse.egit.ui.internal.repository.tree.RepositoryNode">
         <action
               class="org.eclipse.emf.cdo.releng.gitbash.repository.GitCopyrightsAction"
               enablesFor="1"
               icon="icons/gitbash.gif"
               id="org.eclipse.emf.cdo.releng.gitbash.GitCopyrightsAction"
               label="Git Copyrights"
               menubarPath="additions"
               state="true"
               style="push"
               tooltip="Execute git log"/>
         <action
               class="org.eclipse.emf.cdo.releng.gitbash.repository.GitCleanAction"
               enablesFor="1"
               icon="icons/gitbash.gif"
               id="org.eclipse.emf.cdo.releng.gitbash.GitCleanAction"
               label="Git Clean"
               menubarPath="additions"
               state="true"
               style="push"
               tooltip="Execute git clean -f -d"/>
         <action
               class="org.eclipse.emf.cdo.releng.gitbash.repository.GitResetHardAction"
               enablesFor="1"
               icon="icons/gitbash.gif"
               id="org.eclipse.emf.cdo.releng.gitbash.GitResetHardAction"
               label="Git Reset Hard"
               menubarPath="additions"
               state="true"
               style="push"
               tooltip="Execute git reset --hard"/>
         <action
               class="org.eclipse.emf.cdo.releng.gitbash.repository.GitAddAllAction"
               enablesFor="1"
               icon="icons/gitbash.gif"
               id="org.eclipse.emf.cdo.releng.gitbash.GitAddAllAction"
               label="Git Add All"
               menubarPath="additions"
               state="true"
               style="push"
               tooltip="Execute git add --all"/>
         <action
               class="org.eclipse.emf.cdo.releng.gitbash.repository.GitPullAction"
               enablesFor="1"
               icon="icons/gitbash.gif"
               id="org.eclipse.emf.cdo.releng.gitbash.repository.GitPullAction"
               label="Git Pull"
               menubarPath="additions"
               state="true"
               style="push"
               tooltip="Execute git pull"/>
         <action
               class="org.eclipse.emf.cdo.releng.gitbash.repository.GitStatusAction"
               enablesFor="1"
               icon="icons/gitbash.gif"
               id="org.eclipse.emf.cdo.releng.gitbash.GitStatusAction"
               label="Git Status"
               menubarPath="additions"
               state="true"
               style="push"
               tooltip="Execute git status"/>
         <action
               class="org.eclipse.emf.cdo.releng.gitbash.repository.GitBashAction"
               enablesFor="1"
               icon="icons/gitbash.gif"
               id="org.eclipse.emf.cdo.releng.gitbash.GitAction"
               label="Git Bash"
               menubarPath="additions"
               state="true"
               style="push"
               tooltip="Open Git Bash"/>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.eclipse.emf.cdo.releng.gitbash.contribution2"
            objectClass="org.eclipse.jgit.revwalk.RevObject">
         <action
               class="org.eclipse.emf.cdo.releng.gitbash.revision.GitRebaseAction"
               enablesFor="1"
               icon="icons/gitbash.gif"
               id="org.eclipse.emf.cdo.releng.gitbash.GitRebaseAction"
               label="Git Rebase"
               menubarPath="additions"
               state="true"
               style="push"
               tooltip="Execute git rebase"/>
         <action
               class="org.eclipse.emf.cdo.releng.gitbash.revision.GitCherryPickAction"
               enablesFor="1"
               icon="icons/gitbash.gif"
               id="org.eclipse.emf.cdo.releng.gitbash.revision.GitCherryPickAction"
               label="Git Cherry-Pick"
               menubarPath="additions"
               state="true"
               style="push"
               tooltip="Execute git cherry-pick -n"/>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.eclipse.emf.cdo.releng.gitbash.contribution3"
            objectClass="org.eclipse.mylyn.tasks.core.ITaskAttachment">
         <action
               class="org.eclipse.emf.cdo.releng.gitbash.GitApplyAction"
               enablesFor="1"
               icon="icons/apply-patch.gif"
               id="org.eclipse.emf.cdo.releng.gitbash.GitApplyAction"
               label="Apply Patch To Git"
               menubarPath="actions"
               style="pulldown"
               tooltip="Apply patch to a Git repository"/>
      </objectContribution>
   </extension>

</plugin>
