<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
	Copyright (c) 2008, 2012 Eike Stepper (Loehne, Germany) and others.
	All rights reserved. This program and the accompanying materials
	are made available under the terms of the Eclipse Public License 2.0
	which is available at https://www.eclipse.org/legal/epl-2.0
	
	SPDX-License-Identifier: EPL-2.0
	
	Contributors:
	  Eike Stepper - initial API and implementation
-->

<plugin>

   <extension
         point="org.eclipse.net4j.db.dbAdapters">
      <dbAdapter
            class="org.eclipse.net4j.db.derby.EmbeddedDerbyAdapter"
            name="derby-embedded"
            version="10.1.2.1"/>
      <!--dbAdapter
            class="org.eclipse.net4j.db.internal.derby.ClientDerbyAdapter"
            name="derby-client"
            version="10.3.1.4"/-->
   </extension>

</plugin>
