<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
	Copyright (c) 2004 - 2012 Eike Stepper (Berlin, Germany) and others.
	All rights reserved. This program and the accompanying materials
	are made available under the terms of the Eclipse Public License v1.0
	which accompanies this distribution, and is available at
	http://www.eclipse.org/legal/epl-v10.html

	Contributors:
	  Eike Stepper - initial API and implementation
-->

<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.emf.cdo.examples.client.offline.Application">
         </run>
      </application>
   </extension>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="org.eclipse.emf.cdo.examples.client.offline.Perspective"
            id="org.eclipse.emf.cdo.examples.client.offline.Perspective">
      </perspective>
   </extension>

	<!--
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.myzilla.app.category"
            name="Myzilla">
      </category>
      <view
            category="org.myzilla.app.category"
            class="org.myzilla.app.MyzillaNavigatorView"
            id="org.myzilla.app.navigator"
            name="Navigator">
      </view>
      <view
            category="org.myzilla.app.category"
            class="org.myzilla.app.MyzillaDetailsView"
            id="org.myzilla.app.details"
            name="Details">
      </view>
   </extension>
	-->

</plugin>
