<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.2 2008-12-31 14:43:07 estepper Exp $
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/emf/CDO/ui/defs/1.0.0"
            class="org.eclipse.emf.cdo.ui.defs.CDOUIDefsPackage"
            genModel="model/org.eclipse.emf.cdo.ui.defs.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            default="false"
            icon="icons/database_go.png"
            id="org.eclipse.emf.cdo.ui.defs.editorlauncher"
            launcher="org.eclipse.emf.cdo.ui.cdouidefs.editorlauncher.EditorLauncher"
            name="name">
         <contentTypeBinding
               contentTypeId="org.eclipse.emf.cdo.ui.defs.editor.contenttype">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
		<content-type file-extensions="xmi" id="org.eclipse.emf.cdo.ui.defs.contenttype" name="CDO Editor launcher File" priority="normal">
			<describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
				<parameter name="element" value="CDOEditorDef">
	            </parameter>
			</describer>
		</content-type>
	</extension>
</plugin>
