<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated setup -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.emf.cdo.releng.setup.presentation.SetupModelWizardID"
            name="%_UI_SetupModelWizard_label"
            class="org.eclipse.emf.cdo.releng.setup.presentation.SetupModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SetupModelFile.gif">
         <description>%_UI_SetupModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated setup -->
      <editor
            id="org.eclipse.emf.cdo.releng.setup.presentation.SetupEditorID"
            name="%_UI_SetupEditor_label"
            icon="icons/full/obj16/SetupModelFile.gif"
            extensions="setup"
            class="org.eclipse.emf.cdo.releng.setup.presentation.SetupEditor"
            contributorClass="org.eclipse.emf.cdo.releng.setup.presentation.SetupActionBarContributor">
      </editor>
   </extension>

</plugin>
