a:link {
  text-decoration: none;
  border: none;
  color: #000000;
}

a:visited {
  color: #000000;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: #0000bb;
  font-weight: bold;
}

a.highlight {
  color: HighlightText;
  background: Highlight;
  font-weight: bold;
}

.te {
	margin-bottom: 2px;
	white-space: nowrap;
}
